body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-gilda-display: "Gilda Display";
  --font-lato: Lato;
  --font-montserrat: Montserrat;
  --input-placeholder: Inter;
  --font-dm-serif-display: "DM Serif Display";
  --font-poppins: Poppins;
  --font-marmelad: Marmelad;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --input-placeholder-size: 16px;
  --font-size-25xl: 44px;
  --font-size-xl: 20px;
  --input-label-size: 12px;
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-3xl: 22px;
  --font-size-35xl: 54px;

  /* Colors */
  --white: #fff;
  --gray-25: #fcfcfd;
  --color-gray-100: #7c7c7c;
  --color-gray-200: #272727;
  --color-gray-300: #171717;
  --color-gray-400: #0e0f1d;
  --color-gray-500: #0e0e0e;
  --color-darkslategray: #333;
  --black-5: #2b2f32;
  --color-tomato-100: #f2644f;
  --color-mediumspringgreen: #3cd774;
  --grey: #dde2e5;
  --black-1: #cfd3d4;
  --black-2: #abafb1;
  --color-darkgray: #9e9b9b;
  --black-4: #5e6366;
  --primary-color: #725641;
  --color-black: #000;
  --color-lavenderblush-100: #f4e4e7;
  --color-teal: #2b7265;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-21xl: 40px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-13xl: 32px;
  --gap-61xl: 80px;
  --gap-mini: 15px;

  /* Paddings */
  --padding-lg: 18px;
  --padding-5xl: 24px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-13xl: 32px;
  --padding-xs: 12px;
  --padding-sm: 14px;
  --padding-6xs: 7px;

  /* border radiuses */
  --br-base: 16px;
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-13xl: 32px;
  --br-31xl: 50px;
}
