.vector-icon {
  position: absolute;
  height: 16.27%;
  width: 15.23%;
  top: 72.93%;
  right: -3.43%;
  bottom: 10.8%;
  left: 88.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.final-about-us-child {
  position: absolute;
  top: 1693px;
  left: -412px;
  border-radius: var(--br-base);
  background: radial-gradient(
    50% 50%at 50% 50%,
    #dfabab,
    rgba(126, 194, 223, 0)
  );
  width: 209px;
  height: 200px;
}
.vector-icon1 {
  position: absolute;
  top: 476px;
  left: 0;
  width: 637.47px;
  height: 730.25px;
  opacity: 0.7;
}
.vector-icon2,
.vector-icon3 {
  position: absolute;
  top: 1824px;
  left: 0;
  width: 846.47px;
  height: 542.25px;
}
.vector-icon3 {
  top: 561px;
  left: 360px;
  width: 1080px;
  height: 1306px;
}
.product-durability {
  position: absolute;
  top: 3715px;
  left: 782px;
  width: 128px;
  height: 128px;
}
.vector-icon4,
.vector-icon5 {
  position: absolute;
  height: 6.92%;
  width: 100%;
  top: 87.75%;
  right: 0;
  bottom: 5.34%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon5 {
  height: 26.72%;
  width: 37.01%;
  top: 0;
  right: 62.99%;
  bottom: 73.28%;
}
.group-child {
  position: absolute;
  top: 8px;
  left: calc(50% - 497px);
  width: 994px;
  height: 27px;
}
.group-item {
  position: absolute;
  top: 4px;
  left: 138.7px;
  width: 134.94px;
  height: 24px;
}
.logoswhatsapp-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.whatsapp {
  position: relative;
  font-weight: 500;
}
.logoswhatsapp-icon-parent {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumspringgreen);
  width: 123.7px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.group-container {
  position: absolute;
  top: 0;
  left: 705.26px;
  width: 273.64px;
  height: 33px;
}
.frame-parent {
  position: absolute;
  top: 41px;
  left: calc(50% - 494.5px);
  width: 994px;
  height: 35px;
}
.about-us,
.shop {
  position: absolute;
  top: 0;
}
.about-us {
  left: 161px;
  color: var(--color-tomato-100);
}
.shop {
  left: 343px;
}
.about-us-parent,
.contact-us,
.home {
  position: absolute;
  top: 0;
  left: 497px;
}
.about-us-parent,
.home {
  left: 0;
}
.about-us-parent {
  top: 139px;
  width: 599px;
  height: 22px;
}
.nodeps-600x600-2-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 103.5px);
  width: 193px;
  height: 115px;
  object-fit: cover;
}
.group-div,
.group-parent {
  position: absolute;
  height: 161px;
}
.group-div {
  top: 0;
  left: 0;
  width: 599px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.group-parent {
  top: 25px;
  left: calc(50% - 337px);
  width: 999px;
}
.vector-icon6 {
  position: absolute;
  height: 13.51%;
  width: 29.03%;
  top: 10.97%;
  right: -10.69%;
  bottom: 75.52%;
  left: 81.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.unsplashzzlhoewgcem-icon {
  position: absolute;
  top: 9px;
  left: 0;
  width: 624.49px;
  height: 598px;
  object-fit: cover;
}
.shop-now {
  position: relative;
  font-weight: 600;
}
.shop-now-wrapper {
  position: absolute;
  top: 552px;
  left: 316.33px;
  border-radius: var(--br-5xs);
  background: linear-gradient(92.12deg, #f8a093, #f0513a 93.75%);
  width: 214.29px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.about-us1,
.unveiling-brilliance-inspirin {
  position: absolute;
  left: 0;
  display: inline-block;
}
.about-us1 {
  top: 0;
  line-height: 19.2px;
  text-transform: uppercase;
  width: 109.18px;
  height: 24px;
}
.unveiling-brilliance-inspirin {
  top: 40px;
  font-size: var(--font-size-25xl);
  letter-spacing: 1.25px;
  line-height: 55px;
  color: var(--color-gray-500);
  width: 467.35px;
}
.welcome-to-silver {
  margin: 0;
}
.welcome-to-silver-container {
  position: absolute;
  top: 166px;
  left: 0;
  line-height: 26.4px;
  color: #999191;
  display: inline-block;
  width: 530.61px;
}
.about-us-group,
.frame-group {
  position: absolute;
  top: 0;
  width: 530.61px;
}
.about-us-group {
  left: 0;
  height: 510px;
  color: var(--color-tomato-100);
  font-family: var(--font-gilda-display);
}
.frame-group {
  left: 669.39px;
  height: 607px;
}
.image-251-icon,
.unsplashzzlhoewgcem-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1200px;
  height: 607px;
}
.image-251-icon {
  border-radius: var(--br-base);
  width: 555.52px;
  height: 598px;
  object-fit: cover;
}
.founder {
  top: 0;
  line-height: 19.2px;
  text-transform: uppercase;
  width: 97.13px;
  height: 24px;
}
.founder,
.hute-bijoux-by-container,
.prianca {
  position: absolute;
  left: 0;
  display: inline-block;
}
.prianca {
  top: 32px;
  font-size: var(--font-size-25xl);
  letter-spacing: 1.25px;
  line-height: 55px;
  color: var(--color-gray-500);
  width: 415.73px;
}
.hute-bijoux-by-container {
  top: 95px;
  letter-spacing: 0.02em;
  line-height: 26.4px;
  color: var(--color-darkslategray);
  width: 604.54px;
  height: 368px;
}
.founder-parent {
  position: absolute;
  top: 67px;
  left: 595.46px;
  width: 604.54px;
  height: 463px;
}
.image-251-parent {
  position: absolute;
  top: 679px;
  left: 0;
  width: 1200px;
  height: 598px;
  color: var(--color-tomato-100);
  font-family: var(--font-gilda-display);
}
.group-parent2 {
  position: absolute;
  top: 0;
  left: 120px;
  width: 1200px;
  height: 1277px;
}
.rings {
  margin-block-start: 0;
  margin-block-end: 24px;
}
.rings-bracelets-earrings-pe {
  position: absolute;
  top: 61px;
  left: 0;
  font-size: var(--font-size-sm);
}
.information,
.products-parent {
  position: absolute;
  font-size: var(--font-size-lg);
}
.products-parent {
  top: 48px;
  left: 554px;
  width: 74px;
  height: 173px;
}
.information {
  top: 0;
  left: 0;
}
.about-us2 {
  position: absolute;
  top: 61px;
  left: 0;
}
.collection,
.our-produts {
  position: absolute;
  top: 96px;
  left: 0;
}
.collection {
  top: 128px;
}
.information-parent {
  position: absolute;
  top: 48px;
  left: 714px;
  width: 95px;
  height: 144px;
}
.frame-div,
.group-inner,
.parent {
  position: absolute;
  left: 0;
  height: 24px;
}
.group-inner {
  top: 0;
  width: 24px;
  overflow: hidden;
}
.frame-div,
.parent {
  top: 61px;
  width: 136px;
}
.frame-div {
  top: 100px;
  width: 24px;
  overflow: hidden;
}
.westheimer-rd-santa {
  position: absolute;
  top: 3px;
  left: 40px;
  line-height: 24px;
  display: inline-block;
  width: 208px;
}
.westheimer-rd-santa-ana-illi-parent {
  position: absolute;
  top: 141px;
  left: 0;
  width: 248px;
  height: 51px;
}
.silverjewel123gmailcom {
  position: absolute;
  top: 4px;
  left: 40px;
}
.contact-parent,
.silverjewel123gmailcom-parent {
  position: absolute;
  top: 101px;
  left: 0;
  width: 209px;
  height: 24px;
}
.contact-parent {
  top: 48px;
  left: 874px;
  width: 248px;
  height: 192px;
}
.download-the-app {
  position: absolute;
  top: 0;
  left: 9px;
  line-height: 24px;
}
.image-1-icon,
.image-2-icon {
  position: absolute;
  top: 58px;
  left: 0;
  width: 136px;
  height: 41px;
  object-fit: cover;
}
.image-2-icon {
  left: 160px;
}
.download-the-app-by-clicking-t-parent {
  position: absolute;
  top: 138px;
  left: 141px;
  width: 296px;
  height: 99px;
}
.group-icon,
.group-parent3 {
  position: absolute;
  top: 61px;
  left: 0;
  width: 142px;
  height: 24px;
}
.group-parent3 {
  top: 48px;
  left: 1208px;
  height: 85px;
  font-size: var(--font-size-lg);
}
.nodeps-600x600-3-icon {
  position: absolute;
  top: 19px;
  left: 175px;
  width: 193px;
  height: 115px;
  object-fit: cover;
}
.div,
.group-parent1 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.div {
  top: 1340px;
  background-color: var(--white);
  height: 309px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-roboto);
}
.group-parent1 {
  top: 220px;
  height: 1649px;
  font-size: var(--input-placeholder-size);
  font-family: var(--font-lato);
}
.final-about-us {
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #fbf5ff, #efebef);
  width: 100%;
  height: 1867px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--white);
  font-family: var(--font-montserrat);
}
