body{
    background-color:  #f3e5e5;;
}
.contact {
    position: absolute;
    width: 600px;
    height: 750px;
    left: 110px;
    top: 170px;

    background: #F2ECF0;
    border-radius: 8px;
}

#tch {
    color: red;
}

#frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;

    position: absolute;
    width: 545px;
    height: 697px;
    left: 223.58px;
    top: 284px;

    border-radius: 8px;
}

#heading {
    margin-top: -240px;
    margin-left: -130px;
    width: 356px;
    height: 66px;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 66px;

    color: #000000;
    flex: none;
    order: 0;
}

#para {
    width: 400px;
    height: 96px;
    margin-top: -60px;
    margin-left: -130px;

    font-family: "Gilda Display";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;

    color: #000000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.map {
    position: absolute;
    width: 500px;
    height: 723px;
    left: 600px;
    top: 220px;
    border-radius: 12px;
}

.back {
    position: absolute;
    width: 403px;
    height: 750px;
    left: 800px;
    top: 170px;
    z-index: -1;

    background: #cddcd0;
    border-radius: 8px;
}

.vector {
    position: absolute;
    left: -18.75%;
    right: 81.67%;
    top: -11.88%;
    bottom: 75.38%;

    background: #dbc0ad;
    background: url(Vector.png);

    width: 500px;
    height: 450px;
    top: -169px;
    left: -270px;
}

form {
    margin-top: -30px;
    width: 300px;
    /* transition: all 4s ease-in-out ; */
}

.form-control {
    width: 370px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 18px;
    margin-left: -130px;
}

input {
    height: 30px;
}

.submit {
    /* display: flex; */
    align-items: center;
    text-align: center;
    background: red;
    border: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
    width: 370px;
    margin-left: -130px;
}

.info {
    position: absolute;

    background: #000000;
    background: url(phone.png);

    Width: 28px;
    height: 28px;
    top: 610px;
    left: 95px;
}

.info1 {
    position: absolute;

    background: #000000;
    background: url(whatsapp.png);

    Width: 20.8px;
    height: 20px;
    top: 610px;
    left: 230px;
}

.info3 {
    position: absolute;

    background: #000000;
    background: url(Email.png);

    Width: 24.82px;
    height: 22.75px;
    top: 610px;
    left: 340px;
}

#ph {
    position: relative;
    position: inherit;
    top: -25px;
    left: 35px;
    cursor: pointer;
}
#phh{
    position: relative;
    position: inherit;
    top: -2px;
    left: 35px;
    width: 70px;
    font-size: smaller;
}

#wh {
    position: relative;
    position: inherit;
    top: -25px;
    left: 23px;
    cursor: pointer;
}
#whh{
    position: relative;
    position: inherit;
    top: -2px;
    left: 23px;
    width: 70px;
    font-size: smaller;
}

#em {
    position: relative;
    position: inherit;
    top: -25px;
    left: 26px;
    cursor: pointer;
}
#emm{
    position: relative;
    position: inherit;
    top: -3px;
    left: 26px;
    width: 70px;
    font-size: smaller;
}