{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<style type="text/css">
  input {

    border: 1px solid #ced4da !important;

}
</style>


<div class="container">
  <div class="row">

    <div class="col-md-6 mt-5 offset-3">
      Welcome to
      <h3>{% trans "Haute Bijox By Prianca" %}</h3>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing social accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">
  <button class="btn btn-google" style="background-color:white"> <img src="{% static 'login/public/google-removebg-preview.png' %}" style="width: 5%;"> <a href="{% provider_login_url "google" method="js" %}">Login with Google</a></button>
  <div class="or-divider">
    <div class="line"></div>
    <div class="or-text">OR</div>
    <div class="line"></div>
</div>
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}" class="text-primary">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}

  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-primary login-btn" type="submit">{% trans "Login" %}</button>
  <p>Don't have an account? <a href="{{ signup_url }}"><span style="color: #6358DC;">Sign up</span></a></p>
</form>

    </div>
  </div>
</div>


{% endblock %}
