body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-lato: Lato;
  --font-gilda-display: "Gilda Display";
  --font-dm-serif-display: "DM Serif Display";
  --font-poppins: Poppins;
  --font-marmelad: Marmelad;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-lg: 18px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-3xl: 22px;
  --font-size-xs: 12px;
  --font-size-35xl: 54px;

  /* Colors */
  --color-tomato-100: #f2644f;
  --gray-25: #fcfcfd;
  --color-gray-100: #7c7c7c;
  --color-gray-200: #272727;
  --color-gray-300: #171717;
  --color-gray-400: #0e0f1d;
  --white: #fff;
  --color-black: #000;
  --color-darkslategray: #333;
  --color-lavenderblush-100: #f4e4e7;
  --primary-color: #725641;
  --color-darkgray: #9e9b9b;
  --color-teal: #2b7265;

  /* Gaps */
  --gap-3xs: 10px;
  --gap-13xl: 32px;
  --gap-61xl: 80px;
  --gap-5xs: 8px;
  --gap-mini: 15px;
  --gap-base: 16px;
  --gap-21xl: 40px;

  /* Paddings */
  --padding-sm: 14px;
  --padding-lg: 18px;
  --padding-6xs: 7px;
  --padding-5xl: 24px;

  /* border radiuses */
  --br-5xs: 8px;
  --br-9xs: 4px;
  --br-13xl: 32px;
  --br-31xl: 50px;
  --br-base: 16px;
}

