
.unstyled-button {
  border: none;
  padding: 0;
  background: none;
}
.vector-icon {
  position: absolute;
  top: 4078px;
  left: 0;
  width: 407.07px;
  height: 707.65px;
}
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 11.25%;
  width: 15.21%;
  top: 88.47%;
  right: -2.01%;
  bottom: 0.28%;
  left: 86.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2 {
  height: 13.52%;
  width: 52.85%;
  top: 1.65%;
  right: -5.21%;
  bottom: 84.84%;
  left: 52.36%;
}
.final-new-child {
  position: absolute;
  top: 1693px;
  left: -412px;
  border-radius: var(--br-base);
  background: radial-gradient(
    50% 50%at 50% 50%,
    #dfabab,
    rgba(126, 194, 223, 0)
  );
  width: 209px;
  height: 200px;
}
.vector-icon3 {
  position: absolute;
  top: 476px;
  left: 0;
  width: 637.47px;
  height: 730.25px;
  opacity: 0.7;
}
.vector-icon4,
.vector-icon5 {
  position: absolute;
  top: 1824px;
  left: 0;
  width: 846.47px;
  height: 1366.25px;
}
.vector-icon5 {
  top: 2671px;
  left: 622px;
  width: 818px;
}
.product-durability,
.vector-icon6 {
  position: absolute;
  top: 3715px;
  left: 782px;
  width: 128px;
  height: 128px;
}
.vector-icon6 {
  height: 6.92%;
  width: 100%;
  top: 87.75%;
  right: 0;
  bottom: 5.34%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.products {
  position: relative;
}
.rings {
  margin-block-start: 0;
  margin-block-end: 24px;
}
.pendant {
  margin: 0;
}
.rings-bracelets-earrings-pe {
  position: relative;
  font-size: var(--font-size-sm);
}
.products-parent {
  position: absolute;
  top: 48px;
  left: 554px;
  width: 74px;
  height: 173px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-lg);
}
.about-us,
.information {
  position: absolute;
  left: 0;
}
.information {
  top: 0;
  font-size: var(--font-size-lg);
}
.about-us {
  top: 61px;
}
.collection,
.our-produts {
  position: absolute;
  top: 96px;
  left: 0;
}
.collection {
  top: 128px;
}
.information-parent {
  position: absolute;
  top: 48px;
  left: 714px;
  width: 95px;
  height: 144px;
}
.frame-child {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-item,
.frame-parent {
  position: absolute;
  left: 0;
  height: 24px;
}
.frame-parent {
  top: 61px;
  width: 136px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-item {
  top: 100px;
  width: 24px;
  overflow: hidden;
}
.westheimer-rd-santa {
  position: relative;
  line-height: 24px;
  display: inline-block;
  width: 208px;
  flex-shrink: 0;
}
.dashiconsemail-parent,
.frame-group {
  position: absolute;
  top: 141px;
  left: 0;
  width: 248px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.dashiconsemail-parent {
  top: 101px;
  width: 209px;
  height: 24px;
  align-items: center;
}
.contact-parent {
  position: absolute;
  top: 48px;
  left: 874px;
  width: 248px;
  height: 192px;
}
.download-the-app {
  position: absolute;
  top: 0;
  left: 9px;
  line-height: 24px;
}
.image-1-icon,
.image-2-icon {
  position: absolute;
  top: 58px;
  left: 0;
  width: 136px;
  height: 41px;
  object-fit: cover;
}
.image-2-icon {
  left: 160px;
}
.download-the-app-by-clicking-t-parent {
  position: absolute;
  top: 138px;
  left: 141px;
  width: 296px;
  height: 99px;
}
.group-icon {
  position: relative;
  width: 142px;
  height: 24px;
}
.social-media-parent {
  position: absolute;
  top: 48px;
  left: 1208px;
  width: 142px;
  height: 85px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-lg);
}
.nodeps-600x600-3-icon {
  position: absolute;
  top: 19px;
  left: 175px;
  width: 193px;
  height: 115px;
  object-fit: cover;
}
.div {
  bottom: 0;
  left: 0;
  background-color: var(--white);
  width: 1440px;
  height: 309px;
  overflow: hidden;
  font-family: var(--font-roboto);
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: 816px;
  border-radius: var(--br-base);
  width: 498px;
  height: 575px;
  object-fit: cover;
}
.radiance {
  color: var(--color-tomato-100);
}
.silver-stone-jewelry,
.unleash-your-radiance-container {
  position: relative;
  display: inline-block;
  width: 639px;
}
.silver-stone-jewelry {
  font-size: var(--font-size-base);
  line-height: 24px;
  font-family: var(--font-marmelad);
  color: var(--color-teal);
  width: 609px;
}
.unleash-your-radiance-with-sil-parent {
  width: 639px;
  height: 227px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 27px;
}
.products-on-store {
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-marmelad);
  color: var(--color-teal);
}
.k-group,
.k-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.k-group {
  text-align: left;
}
.frame-parent1,
.frame-parent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent2 {
  flex-direction: row;
  gap: 174px;
  text-align: center;
  color: var(--color-gray-200);
}
.frame-parent1 {
  width: 654px;
  height: 384px;
  flex-direction: column;
  gap: 63px;
}
.explore-ranges {
  position: relative;
  font-weight: 600;
}
.explore-ranges-wrapper,
.shop-now-wrapper {
  border-radius: var(--br-5xs);
  width: 210px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.explore-ranges-wrapper {
  border: 1px solid var(--color-tomato-100);
}
.shop-now-wrapper {
  background: linear-gradient(92.12deg, #f8a093, #f0513a 93.75%);
  color: var(--white);
}
.frame-div,
.frame-parent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent3 {
  flex-direction: row;
  gap: 36px;
  font-size: var(--font-size-base);
  color: #f0523a;
  font-family: var(--font-lato);
}
.frame-div {
  position: absolute;
  top: 22px;
  left: 0;
  width: 658px;
  height: 493px;
  flex-direction: column;
  padding: 0 0 0 4px;
  box-sizing: border-box;
  gap: 54px;
}
.rectangle-parent {
  position: relative;
  width: 1314px;
  height: 575px;
  z-index: 0;
  font-size: var(--font-size-35xl);
}
.frame-child1,
.frame-child2,
.frame-child3 {
  position: absolute;
  top: 0;
  left: 655px;
  width: 437px;
  height: 311px;
  object-fit: cover;
}
.frame-child2,
.frame-child3 {
  left: 964px;
  width: 350px;
}
.frame-child3 {
  left: 224px;
  width: 433px;
}
.earrings1,
.pendant1,
.rings1 {
  
  position: absolute;
  top: 269px;
  left: 472px;
  letter-spacing: 0.05em;
  font-weight: 900;
}
.earrings1,
.pendant1 {
  left: 790px;
}
.pendant1 {
  left: 1120px;
}
.frame-child4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 356px;
  height: 316px;
  object-fit: cover;
}
.frame-child5,
.line-icon {
  position: absolute;
  top: 0;
  left: 204.61px;
  width: 167.39px;
  height: 311px;
}
.frame-child5 {
  left: 942px;
}
.line-div {
  position: absolute;
  top: calc(50% - 190.5px);
  left: 653px;
  border-right: 8px solid var(--white);
  box-sizing: border-box;
  width: 8px;
  height: 381px;
}
.bracelet {
  position: absolute;
  top: 269px;
  left: 108px;
  letter-spacing: 0.05em;
  font-weight: 900;
}
.vector-parent {
  position: relative;
  border-radius: 11px;
  background-color: #feeeec;
  width: 1314px;
  height: 311px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--font-lato);
}
.discover-parent {
  gap: var(--gap-13xl);
  z-index: 1;
}
.discover-parent,
.new-arrivals-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-child6,
.frame-icon {
  position: relative;
  border-radius: var(--br-5xs);
  width: 416px;
  height: 415px;
  object-fit: cover;
}
.frame-child6 {
  width: 320px;
  height: 319px;
}
.frame-parent4,
.frame-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent4 {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-13xl);
  z-index: 2;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f4eff6;
  width: 436.67px;
  height: 509px;
}
.vector-icon7 {
  position: absolute;
  height: 11.69%;
  width: 33.26%;
  top: 72.69%;
  right: 66.74%;
  bottom: 15.62%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.explore-more {
  position: absolute;
  top: 317px;
  left: 121px;
}
.makijewelry-store-icon {
  position: absolute;
  top: 178px;
  left: 166px;
  width: 104px;
  height: 104px;
  overflow: hidden;
}
.frame-child10,
.frame-child9 {
  position: absolute;
  top: 0;
  left: 438.66px;
  width: 436.67px;
  height: 509px;
  object-fit: cover;
}
.frame-child10 {
  left: 877px;
}
.bold-angle-rings {
  position: absolute;
  top: 430px;
  left: 1020px;
  font-size: var(--font-size-lg);
  letter-spacing: 0.05em;
  font-weight: 900;
  font-family: var(--font-lato);
  color: var(--white);
}
.rectangle-group {
  position: relative;
  width: 1314px;
  height: 509px;
  font-size: 32px;
}
.featured-collection-parent {
  background: linear-gradient(101.2deg, rgba(251, 247, 244, 0), #fbf7f4);
  width: 1448px;
  height: 672px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
  z-index: 3;
}
.offers {
  position: relative;
  z-index: 0;
}
.frame-child11 {
  border-radius: var(--br-5xs);
  width: 324px;
  height: 341px;
  object-fit: cover;
}
.div3,
.frame-child11,
.off {
  position: relative;
}
.div3 {
  font-size: var(--font-size-lg);
  text-decoration: line-through;
  color: var(--color-darkgray);
}
.off {
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-tomato-100);
}
.earrings-parent,
.parent,
.rectangle-container {
  width: 182px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent {
  height: 33px;
  flex-direction: row;
  gap: var(--gap-base);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.earrings-parent,
.rectangle-container {
  height: 67px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.rectangle-container {
  width: 324px;
  height: 416px;
}
.frame-child12 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 323px;
  height: 341px;
  object-fit: cover;
}
.group {
  width: 182px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  color: var(--color-gray-300);
  font-family: var(--font-poppins);
}
.engagement-rings-parent,
.frame-parent6,
.rectangle-parent1 {
  width: 323px;
  height: 416px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.engagement-rings-parent,
.frame-parent6 {
  width: 185px;
  height: 67px;
  align-items: center;
}
.frame-parent6 {
  width: 1318px;
  height: 416px;
  flex-direction: row;
  z-index: 1;
  font-size: var(--font-size-3xl);
  color: var(--color-black);
}
.heart-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.heart-wrapper {
  left: 953px;
  display: flex;
  justify-content: flex-start;
  z-index: 2;
}
.heart-container,
.heart-frame,
.heart-wrapper {
  margin: 0 !important;
  position: absolute;
  top: 81px;
  border-radius: var(--br-31xl);
  background-color: var(--gray-25);
  flex-direction: row;
  padding: var(--padding-6xs);
  align-items: flex-start;
}
.heart-container {
  left: 623px;
  display: flex;
  justify-content: flex-start;
  z-index: 3;
}
.heart-frame {
  left: 292px;
  z-index: 4;
}
.heart-frame,
.heart-wrapper1,
.offers-parent {
  display: flex;
  justify-content: flex-start;
}
.offers-parent {
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: var(--gap-13xl);
  z-index: 4;
}
.heart-wrapper1 {
  margin: 0 !important;
  position: absolute;
  top: 2372px;
  left: 1350px;
  border-radius: var(--br-31xl);
  background-color: var(--gray-25);
  flex-direction: row;
  padding: var(--padding-6xs);
  align-items: flex-start;
  z-index: 5;
}
.vector-icon8 {
  position: absolute;
  height: 59.87%;
  width: 19.26%;
  top: 15.17%;
  right: 9.53%;
  bottom: 24.97%;
  left: 71.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.1;
}
.floral-minimalism-by-eatemp-child {
  position: absolute;
  top: 60px;
  left: 956px;
  width: 411.99px;
  height: 625.23px;
  object-fit: cover;
  opacity: 0.3;
}
.explore-ranges-container {
  position: absolute;
  top: 345px;
  left: 1057px;
  border-radius: var(--br-5xs);
  background: linear-gradient(92.12deg, #f8a093, #f0513a 93.75%);
  width: 210px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.floral-minimalism-by-eatemp-child1,
.floral-minimalism-by-eatemp-inner,
.floral-minimalism-by-eatemp-item {
  position: absolute;
  top: 60.04px;
  left: 94.6px;
  border-radius: var(--br-5xs);
  width: 267.76px;
  height: 385.77px;
  object-fit: cover;
}
.floral-minimalism-by-eatemp-child1,
.floral-minimalism-by-eatemp-inner {
  left: 381.69px;
}
.floral-minimalism-by-eatemp-child1 {
  top: 60px;
  left: 669px;
}
.radiate-elegance-on {
  position: absolute;
  top: 516.54px;
  left: 95.8px;
  font-size: 55.21px;
  font-family: var(--font-dm-serif-display);
  color: var(--primary-color);
  display: inline-block;
  width: 766.71px;
}
.heart-wrapper2,
.heart-wrapper3,
.heart-wrapper4 {
  position: absolute;
  top: 62px;
  left: 330px;
  border-radius: var(--br-31xl);
  background-color: var(--gray-25);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.heart-wrapper3,
.heart-wrapper4 {
  left: 617px;
}
.heart-wrapper4 {
  left: 904px;
}
.floral-minimalism-by-eatemp- {
  position: relative;
  background-color: var(--white);
  width: 1438px;
  height: 745px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 6;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-lato);
}
.jewellery-guides {
  position: relative;
  font-size: var(--font-size-21xl);
  font-family: var(--font-gilda-display);
  color: var(--color-darkslategray);
}
.unsplashnhrcl-c0sfa-icon {
  position: absolute;
  top: -94px;
  left: 335px;
  width: 338px;
  height: 338px;
  object-fit: cover;
}
.find-your-size {
  position: absolute;
  top: 22px;
  left: 43px;
}
.explore-now {
  position: relative;
  font-weight: 500;
}
.arrows-directionsright {
  position: relative;
  width: 24px;
  height: 23px;
}
.explore-now-parent {
  position: absolute;
  top: 74px;
  left: 43px;
  border-radius: var(--br-5xs);
  background: linear-gradient(92.12deg, #f8a093, #f0513a 93.75%);
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-lg);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  color: var(--white);
  font-family: var(--font-lato);
}
.unsplashnhrcl-c0sfa-parent {
  position: relative;
  border-radius: var(--br-5xs);
  width: 563px;
  height: 147px;
  background-image: url(./public/frame-1410125995@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.unsplashwegccsioqqm-icon {
  position: absolute;
  top: -73px;
  left: 381px;
  width: 176px;
  height: 220px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.frame-child15 {
  position: absolute;
  top: -67.37px;
  right: -6.08px;
  width: 143.91px;
  height: 270.87px;
  opacity: 0.2;
}
.unsplashwegccsioqqm-parent {
  position: relative;
  border-radius: var(--br-5xs);
  width: 563px;
  height: 147px;
  background-image: url(./public/frame-1410126123@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-parent7 {
  width: 1206px;
  height: 147px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.unsplashw6s6ejc0cty-icon {
  position: absolute;
  top: 14px;
  left: 342px;
  width: 221px;
  height: 121px;
  object-fit: cover;
}
.frame-child16 {
  position: absolute;
  top: 86.47px;
  left: 333.94px;
  width: 229.1px;
  height: 33.08px;
}
.unsplashv-kh2hyl-cc-icon {
  position: absolute;
  top: -40px;
  left: 370px;
  width: 167px;
  height: 171px;
  object-fit: cover;
}
.ellipse-div {
  position: absolute;
  top: 124px;
  left: 421px;
  border-radius: 50%;
  background-color: var(--color-black);
  filter: blur(25px);
  width: 72px;
  height: 7px;
}
.frame-parent8,
.jewellery-guides-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.jewellery-guides-parent {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-13xl);
  z-index: 7;
  font-size: var(--font-size-5xl);
  color: var(--color-tomato-100);
  font-family: var(--font-dm-serif-display);
}
.frame-child17 {
  position: absolute;
  top: 128px;
  left: 0;
  border-radius: var(--br-13xl) 0 var(--br-13xl) 0;
  background-color: var(--color-lavenderblush-100);
  width: 338px;
  height: 413px;
}
.span {
  color: var(--color-black);
}
.i-recently-purchased-container {
  position: absolute;
  top: 240px;
  left: 24px;
  letter-spacing: 0.02em;
  line-height: 24px;
  display: inline-block;
  width: 289px;
}
.ellipse-icon {
  position: absolute;
  top: 0;
  left: 69px;
  border-radius: 50%;
  width: 201px;
  height: 208px;
  object-fit: cover;
}
.rectangle-parent4 {
  position: relative;
  width: 338px;
  height: 541px;
}
.ive-been-a-container {
  position: absolute;
  top: 240px;
  left: 25px;
  letter-spacing: 0.02em;
  line-height: 24px;
  display: inline-block;
  width: 289px;
}
.frame-parent9,
.what-our-costumers-have-to-say-parent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent9 {
  width: 1162px;
  height: 541px;
  flex-direction: row;
  gap: 74px;
  font-size: var(--font-size-base);
  font-family: var(--font-lato);
}
.what-our-costumers-have-to-say-parent {
  flex-direction: column;
  gap: var(--gap-13xl);
  z-index: 8;
}
.frame-icon1,
.frame-icon2 {
  position: absolute;
  margin: 0 !important;
  top: 4435px;
  left: 1345px;
  border-radius: var(--br-9xs);
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 9;
}
.frame-icon2 {
  left: 50px;
  z-index: 10;
}
.frame-container {
  position: absolute;
  top: 277px;
  left: calc(50% - 724px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 64px;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslategray);
  font-family: var(--font-gilda-display);
}
.vector-icon9 {
  position: absolute;
  height: 9.96%;
  width: 37.01%;
  top: 0;
  right: 62.99%;
  bottom: 90.04%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child22 {
  position: relative;
  width: 994px;
  height: 27px;
}
.logoswhatsapp-icon-parent {
  border-radius: var(--br-5xs);
  background-color: #3cd774;
  width: 123.7px;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.frame-child23 {
  position: relative;
  width: 134.94px;
  height: 24px;
}
.frame-parent12 {
  width: 273.64px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
  margin-left: -288px;
}
.frame-parent11 {
  position: absolute;
  top: 41px;
  left: 0;
  width: 994px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}
.about-us1,
.shop {
  position: absolute;
  top: 0;
  left: 0;
}
.shop {
  left: 182px;
}
.about-us-parent,
.contact-us {
  position: absolute;
  top: 0;
  left: 336px;
}
.about-us-parent {
  top: 139px;
  left: 0;
  width: 438px;
  height: 22px;
}
.nodeps-600x600-2-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 184px);
  width: 193px;
  height: 115px;
  object-fit: cover;
}
.frame-parent13 {
  position: absolute;
  top: 0;
  left: 156px;
  width: 438px;
  height: 161px;
  font-size: var(--font-size-lg);
  color: var(--color-gray-100);
}
.frame-parent10 {
  position: absolute;
  top: 25px;
  left: 388px;
  width: 994px;
  height: 161px;
  color: var(--white);
}
.home {
  position: absolute;
  top: 164px;
  left: 383px;
  font-size: var(--font-size-lg);
  color: var(--color-tomato-100);
}
.final-new {
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #fbf5ff, #efebef);
  width: 100%;
  height: 5387px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-montserrat);
}

