  body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f0f7;
    font-family: "Gilda Display", sans-serif;

  }

  .profile_heading {
    font-size: 1.1rem;
    color: #DB4444;
    font-family: lato;
    text-align: start;
  }

  .sub-heading {
    color: #a8a8a8
  }

  .save:hover {
    background-color: #F8A093;
  }

  .side-menu {

    background-color: white;
    padding-top: 20px;
  }

  .menu_profile a {
    color: #000;
    /* Change this to your desired link color */
  }

  .menu-heading {
    padding: 10px 20px;
    font-weight: bold;
  }

  a {
    text-decoration: none;
  }

  .sub-heading {
    padding: 30px;
  }

  .side-menu ul {
    list-style: none;
    padding-left: 0;
    background-color: #fff;
  }

  .profile {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: flex-start;
  }

  .menu_profile {
    max-height: 600vh;
  }

  .profile_inputs {
    background-color: #f5f5f5;
    padding: 7px;
  }

  .vector-icon8 {
    position: absolute;
    width: 37.01%;
    top: -19%;
    right: 62.99%;
    bottom: 90.04%;
    left: -5%;
    max-width: 25%;
    overflow: hidden;
    max-height: 70%;
  }

  .vector-icon {
    position: absolute;
    width: 37.01%;
    bottom: -15%;
    right: 5%;
    max-width: 25%;
    overflow: hidden;
    max-height: 40%;
  }




/* navbar and footer */

  /* Adjust width for the first column */
  .fi1 {
    flex-basis: 40%;
    box-sizing: border-box;
  }

  /* Adjust width for the other columns */
  .footer_items {
    flex-basis: calc((100% - 40%) / 4);
    /* 4 is the number of other columns */
    box-sizing: border-box;
  }

  .footer_items h2 {
    font-weight: bold;
    font-size: 22px;
  }

  .footer_items ul {
    list-style: none;
    padding: 0;
  }

  .footer_items ul li {
    margin-bottom: 10px;
  }

  .social_icons i {
    font-size: 24px;
    margin-right: 10px;
  }

  .contact_info {
    display: flex;
    align-items: center;
  }

  .contact_info img {
    margin-right: 10px;
  }


  .footer_icon {
    width: 90%;
  }

  .image-flex-container {
    display: flex;
    justify-content: center;
  }

  .image-flex-container img {
    max-width: 100%;
    height: auto;
    margin: 1px;
  }

  .download {
    text-align: center;
    width: 18vw;
  }

  .footer {

    justify-content: space-between;
    padding: 100px;
    font-family: roboto;
    display: flex;
    flex-wrap: wrap;
    padding: 1.6vw;
    background-color: white;
  }

  .play_store {
    width: 30vw;
    min-width: 8vw;
  }

  .hbp {
    font-size: 22;
    color: #F2644F;
    align-items: center;
  }

  .search_icon {
    margin-top: 0.625rem
  }



  .vector-icon8 {
    position: absolute;
    width: 21.01%;
    top: 0;
    right: 62.99%;
    bottom: 90.04%;
    left: -9%;
    max-width: 80%;
    overflow: hidden;
    max-height: 100%;
  }

  .btn-success {
    --bs-btn-bg: #3CD774;
  }

  @media (max-width: 767px) {
    .footer .row .col-sm-12 {
      text-align: center;
    }
  }

  @media (max-width: 767px) {
    .fi1 .download {
      width: 72vw;
    }
  }







  /* navbar */
  .icon_tray_items {
    margin-top: 0.9rem;
  }

  .icon_tray {
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    width: 90%;
    gap: 1.2vw;
    margin-top: 2vh;
  }

  /* Media query for mobile view */
  @media (max-width: 767px) {
    .icon_tray {
      justify-content: space-between;
      /* Revert to default spacing in mobile view */
      left: 0;
      /*   left position for centering */
      padding: 0 15px;
      /* Add padding to both sides for better spacing */
      top: 10px;
      /* Adjust top spacing */
    }

    .navbar {
      margin-left: 0;
      /* Reset the margin for mobile screens */
    }
  }

  .pure {
    margin-bottom: 1vw;
    margin-top: 0;
    color: #7C7C7C;
    font-size: 1vw;
    margin-top: -5px;
  }

  .hbp {
    font-size: 1.2vw;
    color: #f25740;
    margin-bottom: 0;
  }

  .tower {
    width: 2.5vw;
    margin-bottom: 1.2vw;
  }

  .navbar a:active {
    color: #F2644F;
    margin-top: -10px;
  }

  .navbar {
    margin-left: 55%;
  }

  @media (min-width: 992px) {
    .heading {
      margin: 0 200px;
      /* Apply margin only for computer views */
    }
  }

  body {
    font-family: lato;
    margin: 0;
    padding: 0;
    background-color: #f6f1f8;
    overflow-x: hidden;
  }

  /* .container {
  height: 27vh;
} */

  .download {
    text-align: center;
    width: 18vw;
  }

  .nbar {
    display: flex;
    margin-bottom: 2.9vw;
    margin-right: 190px;
    gap: 1.2vw;
  }

  .icon {
    display: flex;
    justify-content: center;
  }



  a {
    text-decoration: none;
  }