.vector-icon6 {
  position: absolute;
  height: 16.27%;
  width: 15.23%;
  top: 81.7%;
  right: -3.84%;
  bottom: 2.03%;
  left: 88.61%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.reviews-page-child {
  position: absolute;
  top: 1693px;
  left: -412px;
  border-radius: var(--br-base);
  background: radial-gradient(
    50% 50%at 50% 50%,
    #dfabab,
    rgba(126, 194, 223, 0)
  );
  width: 209px;
  height: 200px;
}
.vector-icon7 {
  position: absolute;
  top: 476px;
  left: 0;
  width: 637.47px;
  height: 730.25px;
  opacity: 0.7;
}
.vector-icon8,
.vector-icon9 {
  position: absolute;
  top: 1824px;
  left: 0;
  width: 846.47px;
  height: 772px;
}
.vector-icon9 {
  top: 3083px;
  left: 1034px;
  width: 637.47px;
  height: 542.25px;
}
.product-durability1 {
  position: absolute;
  top: 3715px;
  left: 782px;
  width: 128px;
  height: 128px;
}
.vector-icon10,
.vector-icon11 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10 {
  position: absolute;
  height: 6.92%;
  width: 100%;
  top: 87.75%;
  right: 0;
  bottom: 5.34%;
  left: 0;
}
.vector-icon11 {
  height: 14.9%;
  width: 37.01%;
  right: 62.99%;
  bottom: 85.1%;
}
.products1,
.vector-icon11 {
  position: absolute;
  top: 0;
  left: 0;
}
.rings1 {
  margin-block-start: 0;
  margin-block-end: 24px;
}
.pendant1 {
  margin: 0;
}
.rings-bracelets-earrings-pe1 {
  position: absolute;
  top: 61px;
  left: 0;
  font-size: var(--title-14px-regular-size);
}
.information1,
.products-group {
  position: absolute;
  font-size: var(--sub-headline-2-size);
}
.products-group {
  top: 48px;
  left: 554px;
  width: 74px;
  height: 173px;
}
.information1 {
  top: 0;
  left: 0;
}
.about-us2 {
  position: absolute;
  top: 61px;
  left: 0;
}
.collection1,
.our-produts1 {
  position: absolute;
  top: 96px;
  left: 0;
}
.collection1 {
  top: 128px;
}
.information-group {
  position: absolute;
  top: 48px;
  left: 714px;
  width: 95px;
  height: 144px;
}
.div15,
.group-child30 {
  position: absolute;
  top: 4px;
  left: 40px;
}
.group-child30 {
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.group,
.group-child31 {
  position: absolute;
  top: 61px;
  left: 0;
  width: 136px;
  height: 24px;
}
.group-child31 {
  top: 100px;
  width: 24px;
  overflow: hidden;
}
.westheimer-rd-santa1 {
  position: absolute;
  top: 3px;
  left: 40px;
  line-height: 24px;
  display: inline-block;
  width: 208px;
}
.westheimer-rd-santa-ana-illi-group {
  position: absolute;
  top: 141px;
  left: 0;
  width: 248px;
  height: 51px;
}
.contact-group,
.silverjewel123gmailcom-group {
  position: absolute;
  top: 101px;
  left: 0;
  width: 209px;
  height: 24px;
}
.contact-group {
  top: 48px;
  left: 874px;
  width: 248px;
  height: 192px;
}
.download-the-app1 {
  position: absolute;
  top: 0;
  left: 9px;
  line-height: 24px;
}
.image-1-icon1,
.image-2-icon1 {
  position: absolute;
  top: 58px;
  left: 0;
  width: 136px;
  height: 41px;
  object-fit: cover;
}
.image-2-icon1 {
  left: 160px;
}
.download-the-app-by-clicking-t-group {
  position: absolute;
  top: 138px;
  left: 141px;
  width: 296px;
  height: 99px;
}
.group-child33,
.group-parent22 {
  position: absolute;
  top: 61px;
  left: 0;
  width: 142px;
  height: 24px;
}
.group-parent22 {
  top: 48px;
  left: 1208px;
  height: 85px;
  font-size: var(--sub-headline-2-size);
}
.nodeps-600x600-3-icon1 {
  position: absolute;
  top: 19px;
  left: 175px;
  width: 193px;
  height: 115px;
  object-fit: cover;
}
.div14 {
  position: absolute;
  top: 2287.5px;
  left: calc(50% - 720px);
  background-color: var(--white);
  width: 1440px;
  height: 309px;
  overflow: hidden;
  font-family: var(--font-roboto);
}
.frame-child {
  position: relative;
  border-radius: var(--br-5xs);
  width: 115px;
  height: 115px;
  object-fit: cover;
}
.frame-wrapper,
.group-child34 {
  position: absolute;
  border-radius: var(--br-5xs);
}
.group-child34 {
  top: 0;
  left: 0;
  width: 115px;
  height: 115px;
  object-fit: cover;
}
.frame-wrapper {
  top: 36px;
  left: 36px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs);
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(./public/frame-4@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle-parent11 {
  position: relative;
  width: 115px;
  height: 115px;
}
.rectangle-parent10 {
  position: absolute;
  top: 0;
  left: 34px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.group-child35 {
  position: absolute;
  top: 45px;
  left: 0;
  width: 587px;
  height: 24px;
}
.frame-parent1,
.reviews-page-item {
  position: absolute;
  top: 840px;
  left: 116px;
  width: 587px;
  height: 115px;
}
.reviews-page-item {
  top: 224px;
  border-radius: var(--br-5xs);
  width: 627px;
  height: 591px;
  object-fit: cover;
}
.gemstone-earrings {
  position: relative;
  font-weight: 600;
}
.classic-victorian-gemstone {
  position: relative;
  font-size: var(--sub-headline-2-size);
  font-weight: 500;
  color: var(--color-darkgray-300);
}
.gemstone-earrings-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
}
.frame-frame,
.frame-parent5 {
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent5 {
  background-color: #fff0f0;
  padding: var(--padding-6xs) var(--padding-3xs);
  gap: var(--gap-6xs);
}
.frame-frame {
  background-color: var(--color-aliceblue);
  padding: var(--padding-6xs);
}
.frame-parent3,
.frame-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent4 {
  justify-content: flex-start;
  gap: 13px;
  font-size: var(--body-size);
  color: #d46f77;
  font-family: var(--body);
}
.frame-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 582px;
  justify-content: space-between;
}
.rs-2650,
.rs-3560 {
  position: relative;
}
.rs-3560 {
  font-size: 21px;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}
.rs-2650-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.frame-icon5 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-parent9 {
  border-radius: var(--br-8xl);
  background-color: #fbf3ea;
  padding: var(--padding-6xs) var(--padding-3xs);
  align-items: center;
  gap: var(--gap-6xs);
}
.frame-parent10,
.frame-parent8,
.frame-parent9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-parent10 {
  border-radius: var(--br-8xl);
  background-color: var(--color-aliceblue);
  padding: var(--padding-6xs) var(--padding-3xs);
  align-items: center;
  gap: var(--gap-6xs);
  color: var(--color-darkslateblue-100);
}
.frame-parent8 {
  align-items: flex-start;
  gap: var(--gap-xs);
}
.span {
  font-weight: 600;
}
.of-buyers-have {
  color: #b9bbbf;
}
.of-buyers-have-container {
  position: relative;
  color: #3e9242;
}
.frame-parent6,
.frame-parent7 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent7 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-sm);
  font-size: var(--title-14px-regular-size);
  color: #d48d3b;
}
.frame-parent6 {
  position: absolute;
  top: 99px;
  left: 0;
  flex-direction: row;
  align-items: center;
  gap: 41px;
  font-size: 34px;
  color: var(--color-darkslateblue-100);
}
.want-to-customize {
  position: absolute;
  top: 203px;
  left: 0;
  font-size: var(--title-14px-regular-size);
  text-decoration: underline;
  font-weight: 500;
  color: #714ab1;
}
.add-to-cart-wrapper,
.buy-now-wrapper {
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  width: 210px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-5xl);
  align-items: center;
  justify-content: center;
}
.buy-now-wrapper {
  background: linear-gradient(92.12deg, #f8a093, #f0513a 93.75%);
}
.add-to-cart-wrapper {
  border: 1px solid var(--color-tomato-100);
  color: var(--color-tomato-300);
}
.frame-parent11 {
  position: absolute;
  top: 252px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-17xl);
  font-size: var(--body-size);
  color: var(--white);
}
.frame-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 582px;
  height: 307px;
}
.product-specifications {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.line-div {
  position: absolute;
  top: 25.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 168px;
  height: 1px;
}
.silver-parent {
  position: absolute;
  top: 29px;
  left: 0;
  width: 167px;
  height: 26px;
  font-size: var(--sub-headline-2-size);
  color: var(--color-darkslategray);
}
.material-used-parent,
.weight-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 167px;
  height: 55px;
}
.weight-parent {
  top: 95px;
}
.gemstone-used-parent,
.group-parent25,
.silver-sterling-parent {
  position: absolute;
  top: 95px;
  left: 331px;
  width: 167px;
  height: 55px;
}
.gemstone-used-parent,
.group-parent25 {
  top: 0;
}
.group-parent25 {
  top: 35px;
  left: 0;
  width: 498px;
  height: 150px;
  font-size: var(--title-14px-regular-size);
  color: var(--color-darkgray-300);
}
.product-specifications-parent {
  position: absolute;
  top: 387px;
  left: 0;
  width: 498px;
  height: 185px;
  font-size: var(--body-size);
}
.group-parent24 {
  position: absolute;
  top: 0;
  left: 40px;
  width: 582px;
  height: 572px;
}
.frame-icon7 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.enter-your-postal,
.free-delivery {
  align-self: stretch;
  position: relative;
}
.enter-your-postal {
  font-size: var(--title-14px-regular-size);
  text-decoration: underline;
  color: var(--color-dimgray-200);
}
.frame-parent13,
.free-delivery-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.free-delivery-parent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-6xs);
}
.frame-parent13 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-sm);
}
.frame-child1 {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  height: 1px;
}
.details {
  text-decoration: underline;
}
.free-30-days-container {
  align-self: stretch;
  position: relative;
  font-size: var(--title-14px-regular-size);
  color: var(--color-dimgray-200);
}
.frame-parent12 {
  position: absolute;
  top: 622px;
  left: 0;
  border-radius: 14px;
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  width: 582px;
  display: flex;
  flex-direction: column;
  padding: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 21px;
  font-size: var(--font-size-mid);
  color: var(--color-darkslategray-100);
}
.group-parent23 {
  position: absolute;
  top: 234px;
  left: 779px;
  width: 622px;
  height: 786px;
  font-size: 28px;
  color: var(--text2);
}
.child {
  position: absolute;
  top: 228px;
  left: 0;
  background-color: var(--border-1);
  width: 850px;
  height: 1px;
}
.like,
.replay {
  position: absolute;
  top: 0;
  left: 62.13px;
}
.like {
  left: 19.13px;
  color: var(--gray-500);
}
.helpfull-btn,
.vuesaxlinearlike-icon {
  position: absolute;
  top: 1.25px;
  left: 0;
  width: 14px;
  height: 13px;
}
.helpfull-btn {
  top: 168px;
  width: 100.13px;
  height: 16px;
}
.greate-product,
.there-are-many {
  position: absolute;
  left: 0;
  font-size: var(--font-size-mini);
}
.there-are-many {
  top: 88px;
  line-height: 26px;
  color: var(--gray-500);
  display: inline-block;
  width: 740px;
}
.greate-product {
  top: 61px;
  color: var(--gray-800);
}
.group-child39 {
  position: absolute;
  top: 31px;
  left: 0;
  width: 78px;
  height: 10px;
}
.days-ago {
  position: absolute;
  top: 6px;
  left: 115.25px;
}
.nicolas-cage {
  left: 0;
  font-size: var(--font-size-mid);
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-lato);
  color: var(--gray-800);
}
.group-parent26,
.info,
.nicolas-cage {
  position: absolute;
  top: 0;
}
.group-parent26 {
  left: 0;
  width: 185.25px;
  height: 41px;
  color: var(--text-color);
  font-family: var(--body);
}
.info {
  left: 80px;
  width: 740px;
  height: 184px;
}
.days-ago1,
.srrobert-downey {
  position: absolute;
  top: 6px;
  left: 165px;
}
.srrobert-downey {
  top: 0;
  left: 0;
  font-size: var(--font-size-mid);
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--gray-800);
}
.group-parent27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 228px;
  height: 41px;
  color: var(--text-color);
}
.info1,
.profile-child {
  position: absolute;
  top: 273px;
  left: 80px;
  width: 740px;
  height: 184px;
}
.profile-child {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--primary-500);
  width: 51.13px;
  height: 51.13px;
}
.at {
  position: absolute;
  top: 12.57px;
  left: 14.07px;
  line-height: 26px;
  text-transform: capitalize;
  font-weight: 500;
}
.profile,
.profile1 {
  position: absolute;
  top: 4.43px;
  left: 4.43px;
  width: 51.13px;
  height: 51.13px;
  font-size: var(--body-size);
  color: var(--white);
  font-family: var(--body);
}
.profile1 {
  top: 279px;
}
.div19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 850px;
  height: 457px;
}
.view-all-reviews {
  position: absolute;
  top: 489px;
  left: 364.5px;
  font-size: var(--body-size);
  text-decoration: underline;
}
.inset,
.reviews1 {
  position: absolute;
  left: 0;
}
.inset {
  top: 53px;
  width: 850px;
  height: 508px;
}
.reviews1 {
  top: 0;
  font-size: var(--font-size-5xl);
  font-weight: 600;
  color: var(--gray-800);
}
.inset-parent {
  position: absolute;
  top: 1133.5px;
  left: 116px;
  width: 850px;
  height: 561px;
  font-size: var(--font-size-smi);
  color: var(--secondary-flame-500);
}
.group-child41,
.group-child42,
.group-child43 {
  position: absolute;
  top: 32.5px;
  left: 0;
  background-color: var(--gray-200);
  width: 1279px;
  height: 4px;
}
.group-child42,
.group-child43 {
  left: 128px;
  background-color: var(--primary-500);
  width: 128px;
}
.group-child43 {
  left: 0;
  background-color: var(--gray-200);
}
.description,
.rectangle-parent13 {
  position: absolute;
  top: 0;
  left: 19px;
}
.rectangle-parent13 {
  left: 0;
  width: 128px;
  height: 36.5px;
}
.reviews2 {
  position: absolute;
  top: 0;
  left: 160px;
  font-weight: 600;
  font-family: var(--font-lato);
  color: var(--primary-500);
}
.rectangle-parent12 {
  position: absolute;
  top: 1049px;
  left: 116px;
  width: 1279px;
  height: 36.5px;
  font-size: var(--body-size);
  color: var(--gray-400);
  font-family: var(--body);
}
.similar-items-you {
  position: relative;
  line-height: 38px;
}
.group-child44 {
  position: absolute;
  height: 86.31%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 13.69%;
  left: 0;
  border-radius: var(--br-xs) var(--br-xs) 0 0;
  background-color: var(--color-whitesmoke-300);
}
.my-project-1-1 {
  position: absolute;
  height: 69.66%;
  width: 76%;
  top: 8.32%;
  right: 12%;
  bottom: 22.02%;
  left: 12%;
  border-radius: var(--br-5xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.heart-wrapper11 {
  position: absolute;
  top: calc(50% - 93.62px);
  left: calc(50% + 44px);
  border-radius: var(--br-31xl);
  background-color: var(--gray-25);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.eye-icon {
  position: relative;
  width: 17.8px;
  height: 17.8px;
  overflow: hidden;
  flex-shrink: 0;
}
.text1 {
  position: relative;
  line-height: 17.8px;
  font-weight: 600;
}
.button,
.button-base {
  display: flex;
  flex-direction: row;
}
.button-base {
  border-radius: 44.49px;
  background-color: var(--white);
  box-shadow: 0 0.8898407816886902px 1.78px rgba(16, 24, 40, 0.05);
  border: 0.9px solid var(--gray-300);
  overflow: hidden;
  padding: 7.1187262535095215px 12.457771301269531px;
  align-items: center;
  justify-content: center;
  gap: 7.12px;
}
.button {
  position: absolute;
  top: 196px;
  left: 41px;
  border-radius: 7.12px;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
}
.rectangle-parent14 {
  height: 115.86%;
  right: 0;
  bottom: -15.86%;
}
.gemstone-925-sterling,
.group-wrapper10,
.rectangle-parent14 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.group-wrapper10 {
  height: 58.63%;
  right: 0;
  bottom: 41.37%;
  overflow: hidden;
}
.gemstone-925-sterling {
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
}
.b,
.div20 {
  position: absolute;
}
.b {
  top: 50%;
  left: 0;
  font-size: var(--sub-headline-2-size);
  line-height: 28px;
  color: var(--gray-700);
  text-align: right;
}
.div20 {
  top: 0;
  left: 74.19%;
  line-height: 20px;
}
.star-icon {
  position: relative;
  width: 17px;
  height: 17px;
  overflow: hidden;
  flex-shrink: 0;
}
.star-icon-parent {
  position: absolute;
  height: 85%;
  width: 68.55%;
  top: 5%;
  right: 31.45%;
  bottom: 10%;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent1 {
  position: absolute;
  height: 17.86%;
  width: 68.13%;
  top: 82.14%;
  right: 31.87%;
  bottom: 0;
  left: 0;
  font-size: var(--title-14px-regular-size);
  color: var(--gray-400);
}
.gemstone-925-sterling-silver-parent {
  position: absolute;
  height: 33.33%;
  width: 91%;
  top: 61.31%;
  right: 2%;
  bottom: 5.36%;
  left: 7%;
  font-size: var(--body-size);
  color: var(--gray-500);
  font-family: var(--font-lato);
}
.frame-parent16 {
  position: relative;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 200px;
  height: 336px;
  z-index: 0;
}
.pretty-egyptian-designs1 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
}
.b1,
.parent2 {
  position: absolute;
  left: 0;
}
.b1 {
  width: 39.56%;
  top: 45.1%;
  font-size: var(--sub-headline-2-size);
  line-height: 28px;
  display: inline-block;
  color: var(--gray-700);
  text-align: right;
}
.parent2 {
  height: 19.61%;
  width: 68.13%;
  top: 80.39%;
  right: 31.87%;
  bottom: 0;
  font-size: var(--title-14px-regular-size);
  color: var(--gray-400);
}
.pretty-egyptian-designs-earrin-parent {
  position: absolute;
  height: 30.36%;
  width: 91%;
  top: 62.8%;
  right: 4.5%;
  bottom: 6.85%;
  left: 4.5%;
  font-size: var(--body-size);
  color: var(--gray-500);
  font-family: var(--font-lato);
}
.frame-parent17 {
  position: relative;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 200px;
  height: 336px;
  z-index: 1;
}
.heart-wrapper13 {
  position: absolute;
  top: calc(50% - 94.12px);
  left: calc(50% + 44px);
  border-radius: var(--br-31xl);
  background-color: var(--gray-25);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.gemstone-925-sterling-silver-group {
  position: absolute;
  height: 33.33%;
  width: 91%;
  top: 61.31%;
  right: 4.5%;
  bottom: 5.36%;
  left: 4.5%;
  font-size: var(--body-size);
  color: var(--gray-500);
  font-family: var(--font-lato);
}
.frame-parent18 {
  position: relative;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 200px;
  height: 336px;
  z-index: 2;
}
.heart-wrapper14 {
  position: absolute;
  top: calc(50% - 93.12px);
  left: calc(50% + 44px);
  border-radius: var(--br-31xl);
  background-color: var(--gray-25);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.group-wrapper13 {
  position: absolute;
  height: 58.63%;
  width: 100%;
  top: 0;
  right: -1.5%;
  bottom: 41.37%;
  left: 1.5%;
  overflow: hidden;
}
.gemstone-925-sterling-silver-container {
  position: absolute;
  height: 33.33%;
  width: 91%;
  top: 61.31%;
  right: 3%;
  bottom: 5.36%;
  left: 6%;
  font-size: var(--body-size);
  color: var(--gray-500);
  font-family: var(--font-lato);
}
.frame-parent19,
.frame-parent20,
.frame-parent21 {
  position: relative;
  border-radius: var(--br-xs);
  border: 1px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
  width: 200px;
  height: 336px;
  z-index: 3;
}
.frame-parent20,
.frame-parent21 {
  z-index: 4;
}
.frame-parent21 {
  z-index: 5;
}
.chevron-right-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button-base6 {
  border-radius: var(--br-31xl);
  background-color: var(--white);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--gray-300);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.button6 {
  margin: 0 !important;
  position: absolute;
  top: 106px;
  left: 22px;
  border-radius: var(--br-5xs);
  justify-content: flex-start;
  transform: rotate(180deg);
  transform-origin: 0 0;
  z-index: 6;
}
.button6,
.button7,
.frame-parent15 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.button7 {
  margin: 0 !important;
  position: absolute;
  top: 106px;
  left: 1262px;
  border-radius: var(--br-5xs);
  justify-content: flex-start;
  z-index: 7;
}
.frame-parent15 {
  width: 1280px;
  justify-content: space-between;
  position: relative;
  font-size: 12.46px;
  font-family: var(--body);
}
.similar-items-you-might-also-l-parent {
  position: absolute;
  top: 1776.5px;
  left: 116px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
  font-size: 30px;
  color: var(--gray-700);
}
.group-child50 {
  position: absolute;
  top: 8px;
  left: calc(50% - 497px);
  width: 994px;
  height: 27px;
}
.group-child51 {
  position: absolute;
  top: 4px;
  left: 138.7px;
  width: 134.94px;
  height: 24px;
}
.whatsapp1 {
  position: relative;
  font-weight: 500;
}
.logoswhatsapp-icon-group {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumspringgreen);
  width: 123.7px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.group-parent29 {
  position: absolute;
  top: 0;
  left: 705.26px;
  width: 273.64px;
  height: 33px;
}
.frame-parent22 {
  position: absolute;
  top: 41px;
  left: calc(50% - 494.5px);
  width: 994px;
  height: 35px;
}
.about-us3,
.shop1 {
  position: absolute;
  top: 0;
  left: 161px;
}
.shop1 {
  left: 343px;
  color: var(--color-tomato-100);
}
.about-us-group,
.contact-us1 {
  position: absolute;
  top: 0;
  left: 497px;
}
.about-us-group {
  top: 139px;
  left: 0;
  width: 599px;
  height: 22px;
}
.nodeps-600x600-2-icon1 {
  position: absolute;
  top: 0;
  left: calc(50% - 103.5px);
  width: 193px;
  height: 115px;
  object-fit: cover;
}
.group-parent30 {
  position: absolute;
  top: 0;
  left: 0;
  width: 599px;
  height: 161px;
  font-size: var(--sub-headline-2-size);
  color: var(--color-gray-100);
}
.group-parent28 {
  position: absolute;
  top: 25px;
  left: calc(50% - 337px);
  width: 999px;
  height: 161px;
  color: var(--white);
  font-family: var(--font-montserrat);
}
.heart-wrapper17 {
  position: absolute;
  top: 228px;
  left: 708px;
  border-radius: var(--br-31xl);
  background-color: var(--gray-25);
  display: flex;
  flex-direction: row;
  padding: var(--padding-6xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.reviews-page {
  position: relative;
  background: radial-gradient(50% 50%at 50% 50%, #fbf5ff, #efebef);
  width: 100%;
  height: 2596px;
  overflow: hidden;
  text-align: left;
  font-size: var(--title-14px-regular-size);
  color: var(--color-gray-400);
  font-family: var(--font-lato);
}
