{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'checkout/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gilda Display:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Marmelad:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;900&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM Serif Display:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" />
</head>

<body>
    <div class="row">
        <div class="col-md-8 text-center">
            <div class="row">
                <div class="heading">
                    <div class="tower_para">
                        HAUTE BIJOUX <img src="{% static 'checkout/public/1noDePS-600x600 2.png' %}" alt="" class="tower">BY
                        PRIANCA
                    </div>
                    <p class="pure">Pure 92.5 Silver and Semi Precious Gemstones Jewellery</p>
                </div>
            </div>
            <div class="row">
                <div class="nbar" style="font-size: bold;">
                    <nav class="navbar navbar-expand-lg" style="width: 100%;">
                        <div class="container-fluid">

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav navbar_items" style="display: flex;
                                 width: 100%;font-weight: 600;font-size: 100%;">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Shop</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon_tray">
                <a class="nav-link icon_tray_items" href="#">
                    <button type="button" class="btn btn-success whatsapp_button" style="background-color: #1FAF38; ">
                        <i class="fa-brands fa-whatsapp"></i> Whatsapp
                    </button>
                </a>
                <a class="nav-link icon_tray_items" href="#"><i class="fa-regular fa-heart"></i></a>
                <a class="nav-link icon_tray_items" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a class="nav-link icon_tray_items" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                <a class="nav-link icon_tray_items" href="#"><i class="fa-regular fa-user"></i></a>
            </div>
        </div>
    </div>

    <div class="cart_upp">
        <div class="bag">Bag</div>
        <div class="add">Address</div>
        <div class="pay">Payment</div>
    </div>




    
    <div class="container">
      <div class="row">
          <div class="col-md-8">
              <div class="payment-container">
                  <div class="form-container">
                      <form method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                          <div class="form-field">
                              <label for="first-name">First Name*</label>
                              {{ form.first_name }}
                          </div>
                          <div class="form-field">
                              <label for="last-name">Last Name</label>
                              {{ form.last_name }}
                          </div>
                          <div class="form-field">
                              <label for="address">Address*</label>
                             {{ form.street_address }}
                          </div>
                          <div class="form-field">
                              <label for="apartment">Apartment</label>
                              {{ form.apartment_address }}
                          </div>
                          <div class="form-field">
                              <label for="city">Town/City*</label>
                              {{ form.city }}
                          </div>
                          <div class="form-field">
                              <label for="phone">Phone Number*</label>
                              {{ form.phone_no }}
                          </div>
                          <div class="form-field">
                              <label for="email">Email Address</label>
                              {{ form.email }}
                          </div>
                          <div class="form-field checkbox-label">
                              <input {% if form.same_shipping_address.value %}checked{% endif %} type="checkbox" class="custom-control-input" id="same_shipping_address">
        
        <label class="custom-control-label" for="same_shipping_address">Shipping address is the same as my billing address</label>
                          </div>
                          <div class="form-field checkbox-label">
                              <input {% if form.save_info.value %}checked{% endif %} type="checkbox" class="custom-control-input" id="save-info">
        <label class="custom-control-label" for="save-info">Save this information for next time</label>
                          </div>
                          <h4 class="mb-3">Payment</h4>

                            <div class="d-block my-3">
        	                    {% for value, name in form.fields.payment_option.choices %}
                            <div class="custom-control custom-radio">
                                <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input"  required>
                                <label class="custom-control-label" for="{{name}}">{{ name }}</label>
                            </div>
                            {% endfor %}
                            </div>
                            <button class="login-btn">Place Order</button>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4 place_order">
            {% for order_item in order.items.all %}
              <div class="item-container">
                  <div style="display: flex;">
                      <img src="{{ order_item.item.image.url }}" alt="Item" class="item-image">
                      <p>{{ order_item.item.title }}</p>
                  </div>
                  <p>${{ order_item.get_final_price }}</p>

              </div>
            {% endfor %}
              <!-- Add more item containers here -->
              <div class="subtotal">
                  <p>Subtotal</p>
                  <p>${{ order.get_total }}</p>
              </div>
              <div class="shipping">
                  <p>Shipping</p>
                  <p>Free</p>
              </div>
              <div class="total">
                  <p>Total</p>
                  <p>${{ order.get_total }}</p>
              </div>
             
          </div>
      </div>
  </div>































    <div class="footer" style="margin-top: 1vw;">
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="footer_items fi1">
                            <img src="{% static 'checkout/public/1nodeps600x600-3@2x.png' %}" alt="" class="footer_icon"><br>
                            <p class="download">Download the app by clicking the link below :</p>
                            <div class="image-flex-container">
                                <img src="{% static 'checkout/public/image-1@2x.png' %}" alt="" class="play_store">
                                <img src="{% static 'checkout/public/image-2@2x.png' %}" alt="" class="play_store">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="footer_items fi2">
                            <h2>Products</h2>
                            <ul>
                                <li>Rings</li>
                                <li>Bracelets</li>
                                <li>Earrings</li>
                                <li>Pendant</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-2 col-sm-12">
                        <div class="footer_items fi3">
                            <h2>Information</h2>
                            <ul>
                                <li>About us</li>
                                <li>Our Products</li>
                                <li>Collection</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 col-sm-12">
                        <div class="footer_items fi4">
                            <h2>Contact</h2>
                            <p><i class="fa-solid fa-phone"></i>(406) 555-0120</p>
                            <p><img src="{% static 'checkout/public/dashiconsemail.svg%' %}" alt=""> Silverjewel123@gmail.com</p>
                            <p><img src="{% static 'chechout/public/frame-3.svg' %}" alt=""> 2972 Westheimer Rd. Santa Ana, Illinois 85486</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 col-sm-12">
                        <div class="footer_items social_icons fi5">
                            <h2>Social Media</h2>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <img src="{% static 'checkout/public/vector8.svg' %}" alt="" class="vector-icon8">
    <img src="{% static 'checkout/public/vector.svg' %}" alt="" class="vector-icon">
    <script src="https://kit.fontawesome.com/40d666c88a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
</body>

</html>