{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>HBJ Project</title>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'home/css/global.css'%}" />
    <link rel="stylesheet" href="{% static 'home/css/index.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gilda Display:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Marmelad:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Serif Display:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
    />
  </head>

  <body>
   
    <div class="final-new">
      <img class="vector-icon" alt="" src="static/home/public/vector.svg" />

      <img class="vector-icon1" alt="" src="static/home/public/vector1.svg" />

      <img class="vector-icon2" alt="" src="static/home/public/vector2.svg" />

      <div class="final-new-child"></div>
      <img class="vector-icon3" alt="" src="static/home/public/vector3.svg" />

      <img class="vector-icon4" alt="" src="static/home/public/vector4.svg" />

      <img class="vector-icon5" alt="" src="static/home/public/vector4.svg" />

      <div class="product-durability"></div>
      <img class="vector-icon6" alt="" src="static/home/public/vector5.svg" />

      
      <div class="frame-container">
        <div class="rectangle-parent">
          <img
            class="rectangle-icon"
            alt=""
            src="static/home/public/rectangle-34624214@2x.png"
          />

          <div class="frame-div">
            <div class="frame-parent1">
              <div class="unleash-your-radiance-with-sil-parent">
                <div class="unleash-your-radiance-container">
                  <span>Unleash Your </span>
                  <span class="radiance">Radiance</span>
                  <span> with Silver Stone </span>
                  <span class="radiance">Jewellry</span>
                </div>
                <div class="silver-stone-jewelry">
                  Silver Stone Jewelry offers a stunning collection of exquisite
                  jewelry crafted with the finest silver and precious stones.
                  Each piece is meticulously designed to embody timeless beauty
                  and elegance.
                </div>
              </div>
              <div class="frame-parent2">
                <div class="k-parent">
                  <div class="products">4k+</div>
                  <div class="products-on-store">Products on store</div>
                </div>
                <div class="k-group">
                  <div class="products">1k+</div>
                  <div class="products-on-store">Design Patterns</div>
                </div>
                <div class="k-parent">
                  <div class="products">2k+</div>
                  <div class="products-on-store">Clients Good Reviews</div>
                </div>
              </div>
            </div>
            <div class="frame-parent3">
              <div class="explore-ranges-wrapper">
                <div class="explore-ranges">Explore Ranges</div>
              </div>
              <div class="shop-now-wrapper">
                <div class="explore-ranges">
                  <button style="border: none;
                  padding: 0;
                  background: none;
                  color: aliceblue;" data-toggle="modal" data-target="#exampleModal">Shop Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="discover-parent">
          <div class="products">Discover</div>
          <div class="vector-parent">
            <img
              class="frame-child1"
              alt=""
              src="static/home/public/rectangle-34624227@2x.png"
            />

            <img
              class="frame-child2"
              alt=""
              src="static/home/public/rectangle-34624228@2x.png"
            />

            <img
              class="frame-child3"
              alt=""
              src="static/home/public/rectangle-34624226@2x.png"
            />

            <div class="rings1">Rings</div>
            <div class="earrings1">Earrings</div>
            <div class="pendant1">Pendant</div>
            <img
              class="frame-child4"
              alt=""
              src="static/home/public/rectangle-34624225@2x.png"
            />

            <img class="line-icon" alt="" src="static/home/public/line-488.svg" />

            <img class="frame-child5" alt="" src="static/home/public/line-490.svg" />

            <div class="line-div"></div>
            <div class="bracelet">Bracelet</div>
          </div>
        </div>
        <div class="frame-parent4">
          <div class="new-arrivals-wrapper">
            <div class="products">New Arrivals</div>
          </div>
          <div class="frame-parent5">
            <img
              class="frame-child6"
              alt=""
              src="static/home/public/rectangle-34624239@2x.png"
            />

            <img
              class="frame-child6"
              alt=""
              src="static/home/public/rectangle-34624235@2x.png"
            />

            <img
              class="frame-child6"
              alt=""
              src="static/home/public/rectangle-34624236@2x.png"
            />

            <img
              class="frame-child6"
              alt=""
              src="static/home/public/rectangle-34624237@2x.png"
            />
          </div>
        </div>
        <div class="featured-collection-parent">
          <div class="products">Featured Collection</div>
          <div class="rectangle-group">
            <div class="rectangle-div"></div>
            <img class="vector-icon7" alt="" src="static/home/public/vector6.svg" />

            <div class="explore-more">Explore More</div>
            <img
              class="makijewelry-store-icon"
              alt=""
              src="static/home/public/makijewelrystore.svg"
            />

            <img
              class="frame-child9"
              alt=""
              src="static/home/public/rectangle-34624230@2x.png"
            />

            <img
              class="frame-child10"
              alt=""
              src="static/home/public/rectangle-34624231@2x.png"
            />

            <div class="bold-angle-rings">Bold Angle Rings</div>
          </div>
        </div>
        <div class="offers-parent">
          <div class="offers">Offers</div>
          <div class="frame-parent6">
            <div class="rectangle-container">
              <img
                class="frame-child11"
                alt=""
                src="static/home/public/rectangle-34624238@2x.png"
              />

              <div class="earrings-parent">
                <div class="products">Earrings</div>
                <div class="parent">
                  <div class="explore-now">$250</div>
                  <div class="div3">300</div>
                  <div class="off">25% Off</div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent1">
              <img
                class="frame-child12"
                alt=""
                src="static/home/public/rectangle-34624239@2x.png"
              />

              <div class="earrings-parent">
                <div class="products">Bracelets</div>
                <div class="group">
                  <div class="explore-now">$500</div>
                  <div class="div3">600</div>
                  <div class="off">20% Off</div>
                </div>
              </div>
            </div>
            <div class="rectangle-parent1">
              <img
                class="frame-child12"
                alt=""
                src="static/home/public/rectangle-34624240@2x.png"
              />

              <div class="earrings-parent">
                <div class="products">Pendant sets</div>
                <div class="parent">
                  <div class="explore-now">$700</div>
                  <div class="div3">800</div>
                  <div class="off">20% Off</div>
                </div>
              </div>
            </div>
            <div class="rectangle-container">
              <img
                class="frame-child11"
                alt=""
                src="static/home/public/rectangle-34624241@2x.png"
              />

              <div class="engagement-rings-parent">
                <div class="products">Engagement Rings</div>
                <div class="group">
                  <div class="explore-now">$400</div>
                  <div class="div3">500</div>
                  <div class="off">25% Off</div>
                </div>
              </div>
            </div>
          </div>
          <div class="heart-wrapper">
            <img class="heart-icon" alt="" src="static/home/public/heart.svg" />
          </div>
          <div class="heart-container">
            <img class="heart-icon" alt="" src="static/home/public/heart.svg" />
          </div>
          <div class="heart-frame">
            <img class="heart-icon" alt="" src="static/home/public/heart.svg" />
          </div>
        </div>
        <div class="heart-wrapper1">
          <img class="heart-icon" alt="" src="static/home/public/heart.svg" />
        </div>
        <div class="floral-minimalism-by-eatemp-">
          <img class="vector-icon8" alt="" src="static/home/public/vector7.svg" />

          <img
            class="floral-minimalism-by-eatemp-child"
            alt=""
            src="static/home/public/rectangle-18@2x.png"
          />

          <div class="explore-ranges-container">
            <div class="explore-ranges">Explore Ranges</div>
          </div>
          <img
            class="floral-minimalism-by-eatemp-item"
            alt=""
            src="static/home/public/rectangle-19@2x.png"
          />

          <img
            class="floral-minimalism-by-eatemp-inner"
            alt=""
            src="static/home/public/rectangle-20@2x.png"
          />

          <img
            class="floral-minimalism-by-eatemp-child1"
            alt=""
            src="static/home/public/rectangle-21@2x.png"
          />

          <div class="radiate-elegance-on">
            Radiate Elegance On Your Special Day with Silver Jewels
          </div>
          <div class="heart-wrapper2">
            <img class="heart-icon" alt="" src="static/home/public/heart.svg" />
          </div>
          <div class="heart-wrapper3">
            <img class="heart-icon" alt="" src="static/home/public/heart.svg" />
          </div>
          <div class="heart-wrapper4">
            <img class="heart-icon" alt="" src="static/home/public/heart.svg" />
          </div>
        </div>
        <div class="jewellery-guides-parent">
          <div class="jewellery-guides">Jewellery Guides</div>
          <div class="frame-parent7">
            <div class="unsplashnhrcl-c0sfa-parent">
              <img
                class="unsplashnhrcl-c0sfa-icon"
                alt=""
                src="static/home/public/unsplashnhrcl-c0sfa@2x.png"
              />

              <div class="find-your-size">Find Your Size</div>
              <div class="explore-now-parent">
                <div class="explore-now">Explore Now</div>
                <img
                  class="arrows-directionsright"
                  alt=""
                  src="static/home/public/24arrows--directionsright.svg"
                />
              </div>
            </div>
            <div class="unsplashwegccsioqqm-parent">
              <img
                class="unsplashwegccsioqqm-icon"
                alt=""
                src="static/home/public/unsplashwegccsioqqm@2x.png"
              />

              <img class="frame-child15" alt="" src="static/home/public/vector-347.svg" />

              <div class="find-your-size">The Jewellery Care Guide</div>
              <div class="explore-now-parent">
                <div class="explore-now">Explore Now</div>
                <img
                  class="arrows-directionsright"
                  alt=""
                  src="static/home/public/24arrows--directionsright.svg"
                />
              </div>
            </div>
          </div>
<div class="frame-parent8">
            <div class="unsplashnhrcl-c0sfa-parent">
              <div class="find-your-size">Repair your Jewellery</div>
              <div class="explore-now-parent">
                <div class="explore-now">Repair Now</div>
                <img
                  class="arrows-directionsright"
                  alt=""
                  src="static/home/public/24arrows--directionsright.svg"
                />
              </div>
              <img
                class="unsplashw6s6ejc0cty-icon"
                alt=""
                src="static/home/public/unsplashw6s6ejc0cty@2x.png"
              />

              <img class="frame-child16" alt="" src="static/home/public/vector-348.svg" />
            </div>
            <div class="unsplashwegccsioqqm-parent">
              <div class="find-your-size">Customize your Jewellery</div>
              <div class="explore-now-parent">
                <div class="explore-now">Customize Now</div>
                <img
                  class="arrows-directionsright"
                  alt=""
                  src="static/home/public/24arrows--directionsright.svg"
                />
              </div>
              <img
                class="unsplashv-kh2hyl-cc-icon"
                alt=""
                src="static/home/public/unsplashvkh2hyl-cc@2x.png"
              />

              <div class="ellipse-div"></div>
            </div>
          </div>
        </div>

        <div class="what-our-costumers-have-to-say-parent">
          <div class="products">What our costumers have to say</div>
          <div class="frame-parent9">
            <div class="rectangle-parent4">
              <div class="frame-child17"></div>
              <div class="i-recently-purchased-container">
                <span>
                  <span
                    >I recently purchased a beautiful silver necklace from this
                    brand, and I couldn't be happier with my purchase. The
                    craftsmanship is exceptional, and the design is stunning.
                    The silver has a brilliant shine and feels solid and
                    durable. I've received numerous compliments whenever I wear
                    it. I highly recommend their silver jewelry collection."
                  </span>
                  <span class="span">- </span>
                </span>
                <span class="span">
                  <b>Sarah</b>
                </span>
              </div>
              <img
                class="ellipse-icon"
                alt=""
                src="static/home/public/ellipse-35118@2x.png"
              />
            </div>
            <div class="rectangle-parent4">
              <div class="frame-child17"></div>
              <img
                class="ellipse-icon"
                alt=""
                src="static/home/public/ellipse-35119@2x.png"
              />

              <div class="ive-been-a-container">
                <span>
                  <span
                    >I've been a loyal customer of this jewelry store for years,
                    and their silver jewelry never disappoints. The quality is
                    top-notch, and the prices are reasonable. I've purchased
                    silver rings, earrings, and bracelets from them, and each
                    piece has exceeded my expectations. I love their attention
                    to detail and the exquisite finish of their jewelry."</span
                  >
                  <span class="span"> - </span>
                </span>
                <span class="span">
                  <b>Michael</b>
                </span>
              </div>
            </div>
            <div class="rectangle-parent4">
              <div class="frame-child17"></div>
              <img
                class="ellipse-icon"
                alt=""
                src="static/home/public/ellipse-35120@2x.png"
              />

              <div class="ive-been-a-container">
                <span>
                  <span
                    >I recently bought a silver pendant as a gift for my sister,
                    and she absolutely loved it. The intricate design and the
                    delicate chain added an elegant touch to the piece. The
                    silver was shiny and looked expensive. The packaging was
                    also beautiful, making it a perfect gift option. I was
                    impressed with the overall quality and would definitely
                    consider buying more silver jewelry from this brand."</span
                  >
                  <span class="span"> - </span>
                </span>
                <span class="span">
                  <b>Emily</b>
                </span>
              </div>
            </div>
          </div>
          
        
        </div>
        <img class="frame-icon1" alt="" src="static/home/public/frame.svg" />

        <img class="frame-icon2" alt="" src="static/home/public/frame1.svg" />
      </div>
      <img class="vector-icon9" alt="" src="static/home/public/vector8.svg" />
      <div class="frame-parent10">
        <div class="frame-parent11">
          <div class="frame-child22"></div>
          <div class="frame-parent12">
            <div class="logoswhatsapp-icon-parent">
              <img
                class="heart-icon"
                alt=""
                src="static/home/public/logoswhatsappicon.svg"
              />
    
              <div class="explore-now">Whatsapp</div>
            </div>
            <img
              class="frame-child23"
              alt=""
              src="static/home/public/group-1410126121.svg"
            />
          </div>
        </div>
        <div class="frame-parent13">
          <div class="about-us-parent">
            <a href="{% url 'core:about' %}"><b class="about-us1">About us</b></a>
            <b class="shop">Shop</b>
            <b class="contact-us">Contact us</b>
          </div>
          <img
            class="nodeps-600x600-2-icon"
            alt=""
            src="static/home/public/1nodeps600x600-3@2x.png"
          />
        </div>
      </div>
      <b class="home">Home </b>
    </div>
    
  </body>
  <!-- Modal -->
  
</html>
<html>
  <title>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Modal Header</h4>
          </div>
          <div class="modal-body">
            <p>Some text in the modal.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    
      </div>
    </div>
  </title>
</html>
