{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gilda Display:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Marmelad:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;900&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM Serif Display:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" />
</head>

<body>



    <div class="row">
        <div class="col-md-8 text-center">
            <div class="row">
                <div class="heading">
                    <p class="hbp">HBP JEWELS</p>
                    <div class="tower_para">
                        HAUTE BIJOUX <img src="static/home/public/1noDePS-600x600 2.png" alt="" class="tower">BY
                        PRIANCA
                    </div>
                    <p class="pure">Pure 92.5 Silver and Semi Precious Gemstones Jewellery</p>
                </div>
            </div>
            <div class="row">
                <div class="nbar" style="font-size: bold;">
                    <nav class="navbar navbar-expand-lg" style="width: 100%;">
                        <div class="container-fluid">
    
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav navbar_items" style="display: flex;
                                 width: 100%;font-weight: 600;font-size: 100%;">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/about" >About us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Shop</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/contact">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
    
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon_tray">
                <a class="nav-link icon_tray_items" href="#">
                    <button type="button" class="btn btn-success whatsapp_button"
                        style="background-color: #1FAF38; ">
                        <i class="fa-brands fa-whatsapp"></i> Whatsapp
                    </button>
                </a>
                <a class="nav-link icon_tray_items" href="#"><i class="fa-regular fa-heart"></i></a>
                <a class="nav-link icon_tray_items" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a class="nav-link icon_tray_items" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                <a class="nav-link icon_tray_items" href="/profile"><i class="fa-regular fa-user"></i></a>
            </div>
        </div>
    </div>
    <img src="static/home/public/vector8.svg" alt="" class="vector-icon8">
    {% comment %} <img class="vector-icon2" alt="" src="static/home/public/vector2.svg" /> {% endcomment %}

    <div class="container">

        <div class="intro_div">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12 ratings">
                        <p class="tagline " style=" font-size: 51px;">
                            <span>Unleash Your </span>
                            <span class="radiance">Radiance</span><br>
                            <span> with Silver Stone </span>
                            <span class="radiance">Jewellery</span>
                        </p>
                        <p class="intro_div_para" style="color: #2B7265;">
                            Silver Stone Jewelry offers a stunning collection of exquisite
                            jewelry crafted with the finest silver and precious stones.
                            Each piece is meticulously designed to embody timeless beauty
                            and elegance.
                        </p>
                        <div class="container text-center rating">
                            <div class="row">
                                <div class="col-md-4 col-4">
                                    <div class="rating_number">4k+</div>
                                    <span class="below-rating">Products on store</span>
                                </div>
                                <div class="col-md-4 col-4">
                                    <div class="rating_number">4k+</div>
                                    <span class="below-rating">Products on store</span>
                                </div>
                                <div class="col-md-4 col-4">
                                    <div class="rating_number">4k+</div>
                                    Clients Good Reviews
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger shop_now">Explore ranges</button>
                        <button type="button" class="btn btn-danger  explore_ranges"
                            style="height: 7%; width: 30%; ">Shop Now</button>
                    </div>
                    <div class="col-md-6 col-sm-12 girl_div text-center">
                        <img src="static/home/public/rectangle-34624214@2x.png" class="girl img-fluid final_img" alt="Girl Image">
                    </div>
                </div>
            </div>
        </div>

        <div class="explore_now text-center">

            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <img src="static/home/public/rectangle-34624231@2x.png" alt=""
                            class="new_arrivals_img img-fluid final_img">
                    </div>
                    <div class="col-md-4 col-12 twenty_percent">
                        <p class="twenty_percent_para">Save upto <span class="twenty_percent_bold">20%</span> <br>on All
                            Silver Jewellery</p>
                        <button type="button" class="btn btn-light explore_now_btn">Explore now</button>
                    </div>
                    <div class="col-md-4 col-12">
                        <img src="static/home/public/rectangle-34624230@2x.png" alt=""
                            class="new_arrivals_img img-fluid final_img">
                    </div>
                </div>
            </div>

        </div>

        <div class="discover text-center d-none d-sm-block">
            <span class="discover_heading normal-heading">Discover</span>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-6">
                        <img alt="" src="static/home/public/rectangle-34624225@2x.png" class="triangle img-fluid"
                            style="height: 280px; width: 316px;" />
                    </div>
                    <div class="col-md-3 col-6">
                        <img alt="" src="static/home/public/rectangle-34624226@2x.png" class="triangle img-fluid"
                            style="height: 280px; width: 311px;" />
                    </div>
                    <div class="col-md-3 col-6">
                        <img alt="" src="static/home/public/rectangle-34624227@2x.png" class="triangle img-fluid"
                            style="height: 280px; width: 316px;" />
                    </div>
                    <div class="col-md-3 col-6">
                        <img alt="" src="static/home/public/rectangle-34624228@2x.png" class="triangle img-fluid"
                            style="height: 280px; width: 311px;" />
                    </div>
                </div>
            </div>
        </div>


        <div class="new_arrivals text-center ">
            <span class="new_arrivals_heading normal-heading">New Arrivals</span>
            <div class="container text-center mb-3">
                <div class="row">
                    <div class="col mb-3">
                        <img alt="" src="static/home/public/rectangle-34624236@2x.png" class="new_arrivals_img img-fluid" />
                    </div>
                    <div class="col mb-3">
                        <img alt="" src="static/home/public/rectangle-34624235@2x.png" class="new_arrivals_img img-fluid" />
                    </div>
                    <div class="col mb-3">
                        <img alt="" src="static/home/public/rectangle-34624236@2x.png" class="new_arrivals_img img-fluid" />
                    </div>
                    <div class="col mb-3">
                        <img alt="" src="static/home/public/rectangle-34624237@2x.png" class="new_arrivals_img img-fluid" />
                    </div>
                </div>
            </div>
        </div>

        <div class="featured_selection text-center">
            <span class="featured_selection_heading normal-heading">Featured Selection</span>
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-4 col-12 mb-4">
                        <a href="your_link_here" class="explore_link">
                            <img alt="" src="static/home/public/makijewelrystore.svg" class="explore_img" />
                            <img src="static/home/public/vector6.svg" alt="" class="vector-icon6">
                            <p class="explore_text">Explore More</p>
                        </a>
                    </div>
                    <div class="col-md-4 col-12 mb-4">
                        <img alt="" src="static/home/public/rectangle-34624231@2x.png"
                            class="featured_selection_img img-fluid featured_selection_img" />
                    </div>
                    <div class="col-md-4 col-12 mb-4">
                        <img alt="" src="static/home/public/rectangle-34624230@2x.png" class="featured_selection_img img-fluid" />
                    </div>
                </div>
            </div>
        </div>

        <div class="Offers" align="center">
            <span class="Offers_heading normal-heading">Offers</span>
            <div class="container text-center">
                <div class="row">
                    <div class="col">
                        <img alt="" src="static/home/public/rectangle-34624238@2x.png" class="Offers_img" />
                    </div>
                    <div class="col">
                        <img alt="" src="static/home/public/rectangle-34624239@2x.png" class="Offers_img" />
                    </div>
                    <div class="col">
                        <img alt="" src="static/home/public/rectangle-34624240@2x.png" class="Offers_img" />
                    </div>
                    <div class="col">
                        <img alt="" src="static/home/public/rectangle-34624241@2x.png" class="Offers_img" />
                    </div>
                </div>
            </div>
        </div>


        <div style="margin-top: 100px;width: 100%;;">
            <div class="four_image_div" style="display: flex; flex-wrap: wrap; background-color: white;">
                <div class="three_image" style="flex: 2; display: flex; flex-direction: column;">
                    <div class="consecutive_three_images" style="display: flex; flex-wrap: wrap;">
                        <img src="static/home/public/rectangle-21@2x.png" alt="" class="three_image_imgs">
                        <img src="static/home/public/rectangle-19@2x.png" alt="" class="three_image_imgs">
                        <img src="static/home/public/rectangle-20@2x.png" alt="" class="three_image_imgs">
                    </div>
                    <p class="special_day_text">Radiate Elegance On Your<br> Special Day with Silver Jewels</p>
                </div>

                <div class="fourth_image" style="flex: 1;">
                    <div class="card custom-card" style="width:100%; height: 100%;">
                        <div class="card-img-overlay text-center">
                            <button type="submit" class="btn explore_last ">Explore Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="above_footer">
            <h6 class="text-center normal-heading" style="font-size: 30px;">Jewellery Guides</h6>
            <div class="row jewellery-guides-review">
                <div class="col-md-5 rectangles"
                    style="background-image:url(static/home/public/frame-1410125995@3x.png);background-repeat: no-repeat;background-size: cover; ">
                    <div class="rectangle" style="border-radius: 10px; display: flex; justify-content: space-between; ">
                        <div>
                            <p class="taglines">Find your size</p>
                            <button type="submit" class="btn btn-primary rectangle_button"
                                style="margin-left: 2vw;    background-color: #F2644F; border: none;padding: 10px;">Explore
                                Now</button>
                        </div>
                        <img src="static/home/public/unsplashnhrcl-c0sfa@2x.png" alt="" class="ring-images">
                    </div>
                </div>
                <div class="col-md-5 rectangles"
                    style="background-image:url(static/home/public/frame-34624230.png);background-repeat: no-repeat;background-size: cover; ">
                    <div class="rectangle" style="border-radius: 10px; display: flex; justify-content: space-between; ">
                        <div>
                            <p class="taglines">Find your size</p>
                            <button type="submit" class="btn btn-primary rectangle_button"
                                style="margin-left: 2vw;    background-color: #F2644F; border: none;padding: 10px;">Explore
                                Now</button>
                        </div>
                        <img src="static/home/public/unsplashwegccsioqqm@2x.png" alt="" class="ring-images">
                    </div>
                </div>
                <div class="col-md-5 rectangles"
                    style="background-image:url(static/home/public/frame-1410125995@3x.png);background-repeat: no-repeat;background-size: cover; ">
                    <div class="rectangle" style="border-radius: 10px; display: flex; justify-content: space-between; ">
                        <div>
                            <p class="taglines">Find your size</p>
                            <button type="submit" class="btn btn-primary rectangle_button"
                                style="margin-left: 2vw;    background-color: #F2644F; border: none;padding: 10px;">Explore
                                Now</button>
                        </div>
                        <img src="static/home/public/unsplashw6s6ejc0cty@2x.png" alt="" class="ring-images">
                    </div>
                </div>
                <div class="col-md-5 rectangles"
                    style="background-image:url(static/home/public/frame-34624230.png);background-repeat: no-repeat;background-size: cover; ">
                    <div class="rectangle" style="border-radius: 10px; display: flex; justify-content: space-between; ">
                        <div>
                            <p class="taglines">Find your size</p>
                            <button type="submit" class="btn btn-primary rectangle_button"
                                style="margin-left: 2vw;    background-color: #F2644F; border: none;padding: 10px;">Explore
                                Now</button>
                        </div>
                        <img src="static/home/public/unsplashvkh2hyl-cc@2x.png" alt="" class="ring-images">
                    </div>
                </div>
            </div>




        </div>

    </div>


    </div>


    </div>
    <div class="container" style="background-color: #efecef;">
        <p class="consumers normal-heading"> what our consumers have to say
            <p />
        <div class="row">
            <div id="myCarousel" class="carousel container" data-bs-ride="carousel" style="background-color: #efecef;">
                <div class="carousel-inner w-100">
                    <div class="carousel-item active">
                        <div class="col-md-3">
                            <div class="card card-body">
                                <img class="img-fluid" src="static/home/public/ellipse-35118@2x.png"
                                    style="height: 50%;width: 70%;margin-left: 20px;">
                                <p class="review-text">I recently purchased a beautiful silver necklace from this brand,
                                    and
                                    I couldn't be happier with my purchase. The craftsmanship is exceptional, and the
                                    design
                                    is stunning. The silver has a brilliant shine and feels solid and durable. I've
                                    received
                                    numerous compliments whenever I wear it. I highly recommend their silver jewelry
                                    collection." - Sarah</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card card-body">
                                <img class="img-fluid" src="static/home/public/ellipse-35118@2x.png"
                                    style="height: 50%;width: 70%;margin-left: 20px;">
                                <p class="review-text">I recently purchased a beautiful silver necklace from this brand,
                                    and
                                    I couldn't be happier with my purchase. The craftsmanship is exceptional, and the
                                    design
                                    is stunning. The silver has a brilliant shine and feels solid and durable. I've
                                    received
                                    numerous compliments whenever I wear it. I highly recommend their silver jewelry
                                    collection." - Sarah</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card card-body">
                                <img class="img-fluid" src="static/home/public/ellipse-35118@2x.png"
                                    style="height: 50%;width: 70%;margin-left: 20px;">
                                <p class="review-text">I recently purchased a beautiful silver necklace from this brand,
                                    and
                                    I couldn't be happier with my purchase. The craftsmanship is exceptional, and the
                                    design
                                    is stunning. The silver has a brilliant shine and feels solid and durable. I've
                                    received
                                    numerous compliments whenever I wear it. I highly recommend their silver jewelry
                                    collection." - Sarah</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card card-body">
                                <img class="img-fluid" src="static/home/public/ellipse-35118@2x.png"
                                    style="height: 50%;width: 70%;margin-left: 20px;">
                                <p class="review-text">I recently purchased a beautiful silver necklace from this brand,
                                    and
                                    I couldn't be happier with my purchase. The craftsmanship is exceptional, and the
                                    design
                                    is stunning. The silver has a brilliant shine and feels solid and durable. I've
                                    received
                                    numerous compliments whenever I wear it. I highly recommend their silver jewelry
                                    collection." - Sarah</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://via.placeholder.com/640x360?text=5">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://via.placeholder.com/640x360?text=6">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://via.placeholder.com/640x360?text=7">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="col-md-3">
                            <div class="card card-body">
                                <img class="img-fluid" src="https://via.placeholder.com/640x360?text=8">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
    </div>
    <div class="footer" style="margin-top: 1vw;">
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="footer_items fi1">
                            <img src="static/home/public/1nodeps600x600-3@2x.png" alt="" class="footer_icon"><br>
                            <p class="download">Download the app by clicking the link below :</p>
                            <div class="image-flex-container">
                                <img src="static/home/public/image-1@2x.png" alt="" class="play_store">
                                <img src="static/home/public/image-2@2x.png" alt="" class="play_store">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="footer_items fi2">
                            <h2>Products</h2>
                            <ul>
                                <li>Rings</li>
                                <li>Bracelets</li>
                                <li>Earrings</li>
                                <li>Pendant</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-2 col-sm-12">
                        <div class="footer_items fi3">
                            <h2>Information</h2>
                            <ul>
                                <li>About us</li>
                                <li>Our Products</li>
                                <li>Collection</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 col-sm-12">
                        <div class="footer_items fi4">
                            <h2>Contact</h2>
                            <p><i class="fa-solid fa-phone"></i>(406) 555-0120</p>
                            <p><img src="static/home/public/dashiconsemail.svg" alt=""> Silverjewel123@gmail.com</p>
                            <p><img src="static/home/public/frame-3.svg" alt=""> 2972 Westheimer Rd. Santa Ana, Illinois 85486</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 col-sm-12">
                        <div class="footer_items social_icons fi5">
                            <h2>Social Media</h2>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/40d666c88a.js" crossorigin="anonymous"></script>
    <script src="{% static 'home/js/index.js' %}"></script>
</body>

</html>