{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{% static 'order_summary/css/global.css'%}" />
    <link rel="stylesheet" href="{% static 'order_summary/css/index.css'%}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;800;900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gilda Display:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Marmelad:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM Serif Display:wght@400&display=swap"
    />
    <script src="https://kit.fontawesome.com/795dd627d0.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <link
	 rel="stylesheet"
	 href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	 integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	 crossorigin="anonymous"
   />
</head>
  <body>
    <div class="cart-page">
      <img class="vector-icon" alt="" src="./public/vector.svg" />

      <div class="cart-page-inner">
        <div class="rectangle-wrapper">
          <div class="group-child"></div>
        </div>
      </div>
      <img class="vector-icon1" alt="" src="./public/vector3.svg" />

      <img class="vector-icon2" alt="" src="./public/vector4.svg" />

      <img class="vector-icon3" alt="" src="./public/vector4.svg" />

      <div class="product-durability"></div>
      <img class="vector-icon4" alt="" src="./public/vector1.svg" />

      <img class="vector-icon5" alt="" src="./public/vector2.svg" />

      <div class="div">
        <div class="products-parent">
          <b class="products">Products</b>
          <div class="rings-bracelets-earrings-pe">
            <p class="rings">Rings</p>
            <p class="rings">&nbsp;</p>
            <p class="rings">Bracelets</p>
            <p class="rings">&nbsp;</p>
            <p class="rings">Earrings</p>
            <p class="rings">&nbsp;</p>
            <p class="pendant">Pendant</p>
          </div>
        </div>
        <div class="inner">
          <div class="information-parent">
            <b class="information">Information</b>
            <div class="about-us">About Us</div>
            <div class="our-produts">Our Produts</div>
            <div class="collection">Collection</div>
          </div>
        </div>
        <div class="contact-parent">
          <b class="information">Contact</b>
          <div class="parent">
            <div class="silverjewel123gmailcom">(406) 555-0120</div>
            <img class="group-item" alt="" src="./public/frame-1.svg" />
          </div>
          <div class="group-inner"></div>
          <div class="westheimer-rd-santa-ana-illi-parent">
            <div class="westheimer-rd-santa">
              2972 Westheimer Rd. Santa Ana, Illinois 85486
            </div>
            <img class="group-item" alt="" src="./public/frame-3.svg" />
          </div>
          <div class="silverjewel123gmailcom-parent">
            <div class="silverjewel123gmailcom">Silverjewel123@gmail.com</div>
            <img class="group-item" alt="" src="./public/dashiconsemail.svg" />
          </div>
        </div>
        <div class="download-the-app-by-clicking-t-parent">
          <div class="download-the-app">
            Download the app by clicking the link below :
          </div>
          <img class="image-1-icon" alt="" src="./public/image-1@2x.png" />

          <img class="image-2-icon" alt="" src="./public/image-2@2x.png" />
        </div>
        <div class="group-parent">
          <img class="group-icon" alt="" src="./public/group-2017.svg" />

          <b class="products">Social media</b>
        </div>
        <img
          class="nodeps-600x600-3-icon"
          alt=""
          src="./public/1nodeps600x600-3@2x.png"
        />
      </div>
      <div class="group-container">
        <div class="frame-parent">
          <div class="frame-div"></div>
          <div class="group-wrapper">
            <div class="group-frame">
              <div class="group-frame">
                <img
                  class="group-child1"
                  alt=""
                  src="./public/group-1410126120.svg"
                />

                <div class="logoswhatsapp-icon-parent">
                  <img
                    class="logoswhatsapp-icon"
                    alt=""
                    src="./public/logoswhatsappicon.svg"
                  />

                  <div class="whatsapp">Whatsapp</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="group-parent1">
          <div class="about-us-parent">
            <b class="about-us1">About us</b>
            <b class="shop">Shop</b>
            <b class="contact-us">Contact us</b>
            <div class="home-wrapper">
              <b class="products">Home </b>
            </div>
          </div>
          <img
            class="nodeps-600x600-2-icon"
            alt=""
            src="./public/1nodeps600x600-3@2x.png"
          />
        </div>
      </div>
      <div class="group-parent2">
        <div class="group-parent3">
          <div class="address-parent">
            <div class="address">ADDRESS</div>
            <div class="payment">PAYMENT</div>
            <div class="line-div"></div>
            <div class="group-child2"></div>
          </div>
          <div class="bag-parent">
            <div class="bag">BAG</div>
            <img class="line-icon" alt="" src="./public/line-495.svg" />
          </div>
        </div>
        <div class="group-parent4">
          <div class="items-parent">
            <div class="products">Items</div>
            <div class="price">Price</div>
            <div class="quantity-parent">
              <div class="products">Quantity</div>
              <div class="total">Total</div>
            </div>
          </div>
          {% for order_item in object.items.all %}
            <div class="frame-child"></div>
            <div class="group">
              <div class="div2">
                {% if order_item.item.discount_price %}
                  ${{ order_item.get_total_discount_item_price}}
                  <br><span class="badge badge-primary"> Saving ${{ order_item.get_amount_saved }}</span>
              {% else %}
                  ${{ order_item.get_total_item_price}}
              {% endif %}
              </div>
              <div class="gemstone-earrings-parent">
                <div class="gemstone-earrings">{{ order_item.item.title }}</div>
                <img
                  class="group-child3"
                  alt=""
                  src="{{ order_item.item.image.url }}"
                />
              </div>
              <div class="rectangle-parent">
                <div class="rectangle-div"></div>
                <div class="container">
                    <a href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"><i class="fas fa-minus mr-3"></i></a>
            	{{ order_item.quantity }}
            	<a href="{% url 'core:add-to-cart' order_item.item.slug %}"><i class="fas fa-plus ml-3"></i></a>
                </div>
              </div>
              <div class="div4">
                {% if order_item.item.discount_price %}
                     ${{ order_item.get_total_discount_item_price}}
                {% else %}
                    ${{ order_item.get_total_item_price}}
                {% endif %}
              </div>
            </div>
        {% endfor %}
          <div class="frame-inner"></div>
          <div class="group-wrapper2">
            <div class="coupon-code-wrapper">
              <div class="div9">{{ object.get_total }}</div>
              <b class="subtotal">Grand Total</b>
            </div>
          </div>
        </div>
      </div>
     
      <a href="/checkout" class="btn btn-warning float-right ml-2"><div class="button">
        <div class="view-all-products">Checkout</div>
      </div></a>
    </div>
  </body>
</html>


































