{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gilda Display:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Marmelad:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;900&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM Serif Display:wght@400&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" />
</head>

<body>

    <img src="{% static 'order_conf/public/vector8.svg' %}" alt="" class="vector-icon8">
    <div class="row">
        <div class="col-md-8 text-center">
            <div class="row">
                <div class="heading">
                    <p class="hbp">HBP JEWELS</p>
                    <div class="tower_para">
                        HAUTE BIJOUX <img src="{% static 'order_conf//public/1noDePS-600x600 2.png' %}" alt="" class="tower">BY
                        PRIANCA
                    </div>
                    <p class="pure">Pure 92.5 Silver and Semi Precious Gemstones Jewellery</p>
                </div>
            </div>
            <div class="row">
                <div class="nbar" style="font-size: bold;">
                    <nav class="navbar navbar-expand-lg" style="width: 100%;">
                        <div class="container-fluid">

                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav navbar_items" style="display: flex;
                                 width: 100%;font-weight: 600;font-size: 100%;">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">About us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Shop</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Contact us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon_tray">
                <a class="nav-link icon_tray_items" href="#">
                    <button type="button" class="btn btn-success whatsapp_button" style="background-color: #1FAF38; ">
                        <i class="fa-brands fa-whatsapp"></i> Whatsapp
                    </button>
                </a>
                <a class="nav-link icon_tray_items" href="#"><i class="fa-regular fa-heart"></i></a>
                <a class="nav-link icon_tray_items" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                <a class="nav-link icon_tray_items" href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                <a class="nav-link icon_tray_items" href="#"><i class="fa-regular fa-user"></i></a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="order_done">
            <p style="font-weight: 700; margin-top: 2vw;">Your Oder has been placed</p>

            <img src="{% static 'order_conf/public/Tick.png' %}" alt="">
            <p>Thank you for your purchase !</p>
            <p>Your Order ID is :12412341</p>

            <div>

                <div class="idk"
                    style="display: flex;color: #868686;justify-content: space-between;    margin-bottom: 58px;">
                    <div class="date">
                        <div class="">Date</div>
                        <div class="">June 23, 2023</div>
                    </div>
                    <div class="billing">
                        <div class="">Billing Address</div>
                        <div class="">594, Lucknow, UP</div>
                    </div>
                    <div class="payment">
                        <div class="">Payment Method</div>
                        <div class="">Paytm</div>
                    </div>
                </div>
                <p style="font-weight: 700;text-align: start;">Order Summary</p>
                <table>
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="first_img"><img src="{% static 'order_conf/public/rectangle-34624235@2x.png' %}" alt=""
                                    class="small_img">Gemstone earrings</td>
                            <td>10</td>
                            <td>$20.00</td>
                        </tr>
                        <tr>
                            <td>Product B</td>
                            <td>5</td>
                            <td>$15.00</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>SubTotal</td>
                            <td style="font-weight: bold;">$12.50</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
        <button type="submit" class="btn btn-primary signup-btn send" style="background-image:linear-gradient( #f8a093, #f0513a ); height: 6.5vh;
        width: 11vw;
        border-color: #f8a093;
        margin-left: 43vw;
        margin-top: 3vw;;border-color:#f8a093;">Submit</button>
    </div>


    <div class="footer" style="margin-top: 1vw;">
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="footer_items fi1">
                            <img src="{% static 'order_conf/public/1nodeps600x600-3@2x.png' %}" alt="" class="footer_icon"><br>
                            <p class="download">Download the app by clicking the link below :</p>
                            <div class="image-flex-container">
                                <img src="/public/image-1@2x.png" alt="" class="play_store">
                                <img src="/public/image-2@2x.png" alt="" class="play_store">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-3 col-sm-12">
                        <div class="footer_items fi2">
                            <h2>Products</h2>
                            <ul>
                                <li>Rings</li>
                                <li>Bracelets</li>
                                <li>Earrings</li>
                                <li>Pendant</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-2 col-sm-12">
                        <div class="footer_items fi3">
                            <h2>Information</h2>
                            <ul>
                                <li>About us</li>
                                <li>Our Products</li>
                                <li>Collection</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 col-sm-12">
                        <div class="footer_items fi4">
                            <h2>Contact</h2>
                            <p><i class="fa-solid fa-phone"></i>(406) 555-0120</p>
                            <p><img src="{% static 'order_conf/public/dashiconsemail.svg' %}" alt=""> Silverjewel123@gmail.com</p>
                            <p><img src="{% static 'order_conf/public/frame-3.svg' %}" alt=""> 2972 Westheimer Rd. Santa Ana, Illinois 85486</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 col-sm-12">
                        <div class="footer_items social_icons fi5">
                            <h2>Social Media</h2>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-instagram"></i>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <img src="{% static 'order_conf/public/vector8.svg' %}" alt="" class="vector-icon8">

    <script src="https://kit.fontawesome.com/40d666c88a.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>



    <img src="{% static 'order_conf/public/vector.svg' %}" alt="" class="vector-icon">
</body>

</html>